[2013-06-19 06:17] tammomueller opened #1 "Apache Tika & Storm = FileNotFoundException"
Hi,

I am unable to run in LocalCluster mode (actually haven't tried to deploy this).
I am always getting a FileNotFoundException. Can you actually run this code without any issues?

4518 [Thread-10] INFO  backtype.storm.daemon.supervisor - Copying resources at jar:file:/Users/tammomueller/.m2/repository/edu/ucar/netcdf/4.2-min/netcdf-4.2-min.jar!/resources to /var/folders/wj/bplcpvpd07s525n5vnfm0

[2013-06-22 13:34] #1 closed, assigned to nobody

[2014-09-08 18:46] jakekdodd opened #9 "Possible bug in getHashForURL method of ShardedQueue"
I think that the statement:

[code]

in the `getHashForURL` method of `com.digitalpebble.storm.fetchqueue.ShardedQueue` should instead be:

[code]

where `numQueues` is the `ShardedQueue.numQueues` property. From my reading of the code, I'm assuming that `getHashForURL` ought to return the `queueNumber` for the URL for sharing, rather than requiring it as an input.

[2014-09-08 20:52] #9 closed, assigned to nobody

[2014-09-09 19:39] jakekdodd opened #10 "nextTuple() blocks in the BlockingURLSpout"
The topmost infinite loop in BlockingURLSpout causes the `nextTuple()` method to block. Because Storm runs `nextTuple()`, `ack()`, and `fail()` on the same thread, I think this prevents the spout from functioning properly (see last paragraph of the interface description in https://storm.incubator.apache.org/apidocs/backtype/storm/spout/ISpout.html).

I've got a version that removes the infinite lo

[2014-09-12 14:59] #10 closed, assigned to nobody

[2014-10-24 13:23] jnioche opened #16 "Make protocol defined via configuration"
[https://github.com/DigitalPebble/storm-crawler/blob/master/src/main/java/com/digitalpebble/storm/crawler/protocol/ProtocolFactory.java] currently hardcodes the protocol implementation to use. We need to make it configurable like we do for URL filters etc...

[2014-10-31 13:04] #16 closed, assigned to jnioche

[2014-11-13 21:13] jakekdodd opened #23 "Replace HTTP protocol implementation"
Before I did anything with this, wanted to check and see if there was a reason why HTTP 1.0 was hardcoded. Right now, line 167 of HttpResponse sets the protocol version to 1.0, regardless of whether ``http.useHttp11: true`` is set in the configuration:

[code]

Is this intentional?

[2014-11-14 10:19] jnioche opened #24 "RobotsURLFilter"
The filtering of URLs based on the robots.txt directives is done within the Fetcher for an incoming URL. It would be efficient to be able to filter on the outlinks so that URLs do not get added to the queues  (or any other form of persistence) if they can't be fetched anyway.

We should provide a RobotsURLFilter for this where we'd refetch the robots.txt file for a given URL and store it in a cach

[2014-11-14 10:23] jnioche opened #25 "Protocol interface to take metadata into account"
Ideally we should be able to access the metadata for a URL from the protocol implementations. One motivation for this is that we could use different resources (e.g. scripts for processing AJAX) based on the value of a metadatum.

What would be the best way of doing this? add a separate method? if so would what would the FetcherBolt do? Replace the existing method with the one handling metadata? Th

[2014-11-17 21:48] jnioche opened #29 "Update <developers> section of pom.xml"
Jake, could you add yourself to the pom?
Thanks!

[2014-11-17 23:22] #29 closed, assigned to jakekdodd

[2014-12-01 13:27] jnioche opened #31 "Xpath expressions don't match when element name is set"
As shown in the test [https://github.com/DigitalPebble/storm-crawler/commit/7cf89baec8297fc4e725d6d06be5f1145d6194c1], the XPathFilter does not extract the data when an element name is specified.

[2014-12-04 09:44] #25 closed, assigned to nobody

[2014-12-04 13:15] jnioche opened #32 "Add handling of cookies to HTTP protocol"
The cookies info could be stored in the metadata (and inherited from the parent URL) and used by the Protocol implementation.

[2014-12-06 20:56] jakekdodd opened #33 "Add If-Modified-Since support to HTTP Protocol"
Now that the HTTP protocol has access to metadata, maybe we can add support for If-Modified-Since in HTTPResponse? This could significantly boost performance for URLs that are frequently processed by the crawler.

I have an implementation of this already (although not through the metadata). If this is desirable, it'll be a snap for me to contribute it.

[2014-12-06 21:05] jakekdodd opened #34 "Upgrade to Storm 0.9.3"
There were several important issues resolved in 0.9.3, including one Tika-related fix. I'm currently running my SC topology on 0.9.3 without a hitch, so this should be a non-breaking upgrade.

[2014-12-08 18:45] #34 closed, assigned to jakekdodd

[2014-12-11 12:00] jnioche opened #35 "Provide MetricsConsumer for storing storm metrics with ES"
Not a core s-c issue but probably a nice feature to have. We already provide an ES bolt, so we already have the ES dependencies in. Would be good to send the metics to ES to disaply with Kibana without having to use logstash|statsd| etc...

See [https://github.com/elasticsearch/elasticsearch-hadoop/issues/325#issuecomment-66472035] for the same issue submitted to elasticsearch-hadoop

[2014-12-11 14:29] jnioche opened #37 "Handling of redirections"
The FetcherBolt nor the ParserBolt currently do anything specific with the HTTP status returned for a given page and as a result redirections are currently not handled.

One option would be to let whichever component is in charge of the persistence of the URL status i.e. post parsing. Another approach would be to have the parser (and maybe also the fetcher) declare a non-default output (e.g. 'stat

[2014-12-11 14:40] jnioche opened #38 "Sitemap parser"
It would be good to reuse the parsers from [crawler-commons](https://code.google.com/p/crawler-commons/) to handle sitemaps. Probably simpler to have a separate parser from the Tika-based one and trigger the use of the Sitemap parser based on the presence of an arbitrary metadata like 'parse.sitemap'=true.

The triaging of the tuples based on the metadata could be done in a meta parser wrapping bo

[2014-12-12 16:21] #33 closed, assigned to jakekdodd

[2014-12-17 17:12] jakekdodd opened #41 "Project reorganization"
Given our discussion in #24, and previous discussions on Kafka spouts, HBase indexing, etc, we should think about reorganizing the project so that we have a core SDK and external SDK(s).

I was thinking something like

**root**
&nbsp;&nbsp;&nbsp;&nbsp; `pom.xml`
&nbsp;&nbsp;&nbsp;&nbsp;|-> **crawler-core**
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`pom.xml`
&nbsp;&nbsp;&nbsp;&nbsp;|-> **craw

[2014-12-19 11:47] jnioche opened #43 "Parser to send tuple to 'status' stream instead of failing"
The parser currently fails tuples when an exception is caught. This is probably not the right behaviour as the same URL will be refetched and refail again later (unless of course). What we could do instead would be to use the `status` stream to mark the URL as failed and keep track of the reason why it did so. Whichever component is in charge of persisting the URL status can then decide on what to

[2014-12-19 16:11] jnioche opened #45 "Fetcher to dump the content of its queues to the log"
We could use a very primitive mechanism like checking whether a file exists at an arbitrary location (configurable in the usual way) to get the FetcherBolt to dump the content of its internal queues to the logs. This would be useful as a way of debugging.

[2014-12-26 17:22] jnioche opened #47 "Exception in DebugMetricsConsumer"
java.lang.ClassCastException: java.lang.Integer cannot be cast to java.util.Map
	at com.digitalpebble.storm.metrics.DebugMetricsConsumer.handleDataPoints(DebugMetricsConsumer.java:103) ~[classes/:na]

[2015-01-02 19:06] jakekdodd opened #48 "NPE in ParserBolt"
Encountered this while working on the Spiderling.

The NPE stems from a null content byte array, and occurs [here](https://github.com/DigitalPebble/storm-crawler/blob/1ad1cf5b526ac0d81df1e6e10dbad0b5c7492f61/src/main/java/com/digitalpebble/storm/crawler/bolt/ParserBolt.java#L168). I discovered that the offending URL was one that resulted in a 301 redirect. However, the protocol response's content

[2015-01-05 10:59] jnioche commented on #48
Never got that before. Do you know what URL caused it? Would be good to check that the Fetcher behaves as expected.
This would not be an issue after committing #44 since the parser would be called only if the http code is Status.FETCHED. Having said that we should check that the content is not null and if so handle it via the status stream (see #43)

[2015-01-05 11:28] jnioche commented on #43
Implemented in #44

[2015-01-05 11:28] #43 closed

[2015-01-05 11:29] jnioche commented on #37
Part of it is implemented in #44. Still need to implement case where redirected URLs are sent straight into the internal queues

[2015-01-05 14:26] jakekdodd commented on #48
Yep, the offending URL is http://www.dailynewslosangeles.com/.

I'm curious about why this particular case produces null content, when typically a 301 results in an empty byte array (I think). It's possible this is a bug in the HTTP implementation--but there might also be a meaningful difference between null content and empty content that we should report to Status.

[2015-01-05 14:58] jnioche commented on #48
It doesn't happen now that I committed  #44 into trunk, however HttpResponse contains a null value for content indeed.

This is caused by a SocketTimeoutException being thrown by readPlainContent in [HttpResponse](https://github.com/DigitalPebble/storm-crawler/blob/1ad1cf5b526ac0d81df1e6e10dbad0b5c7492f61/src/main/java/com/digitalpebble/storm/crawler/protocol/http/HttpResponse.java#L289).
As you c

[2015-01-05 15:15] jakekdodd commented on #48
Got it, good catch. I'll fix this

[2015-01-07 10:29] jnioche opened #49 "Use slf4j {} placeholders"
We use slf4j everywhere in the project but without making use of placeholders [http://www.slf4j.org/faq.html#logging_performance]

[2015-01-07 10:30] jnioche opened #50 "Wiki on SitemapParser"

[2015-01-07 10:31] jnioche opened #51 "Wiki on use of streams"
Need to explain 'status' stream and how it differs from the default one.

[2015-01-07 12:17] jnioche commented on #50
See [https://github.com/DigitalPebble/storm-crawler/wiki/SiteMapParserBolt]

[2015-01-07 12:17] #50 closed

[2015-01-07 12:18] jnioche commented on #38
Implemented in #42

[2015-01-07 12:18] #38 closed

[2015-01-09 10:47] jnioche opened #53 "Change URLFilter interface to optionally take metadata"
This would be useful for several use cases such as [https://github.com/PopSugar/storm-crawler-extensions/pull/2] or [https://github.com/DigitalPebble/storm-crawler/pull/46] where in both cases we need to know the source URL of a new link (or rather its domain or hostname).

This is similar to [https://github.com/DigitalPebble/storm-crawler/issues/25].

We'd then be able to enforce the filtering ba

[2015-01-09 16:27] #49 closed

[2015-01-12 12:15] jnioche commented on #53
The URLs that are filtered in ParserBolt don't have metadata, the metadata are created in the subsequent stages. The URLFilters also don't get access to the config at all, but could could be configured via their bespoke JSON config files.
We could create some temporary metadata just to convey the source URL but in that case wouldn't it be simpler to just pass the source URL directly and have filte

[2015-01-13 09:51] jnioche opened #54 "Investigate use of async IO for Fetcher"
The fetcher bolts currently block IO. Doing asynchronous IO would certainly provide better throughput.

[https://jfarcand.wordpress.com/2010/12/21/going-asynchronous-using-asynchttpclient-the-basic/] provides interesting examples

[2015-01-13 14:32] kkrugler commented on #54
One data point - Oleg Kalnichevski (main author of HttpClient) has repeatedly said that he thinks sync outperforms async, e.g. "From my personal experience a decent blocking HTTP client can be
expected to outperform a decent non-blocking HTTP client by 50 to 100%".

At very massive parallelism using async would definitely make sense, though I've run HttpClient with 2000+ threads on one box with ap

[2015-01-14 11:22] jnioche commented on #53
Have implemented a util class to simplify the filtering of URLs based on the host or domain name of the source URL [https://github.com/DigitalPebble/storm-crawler/commit/c6aa373965e0d8f24e84c97ef21df2c830bad31e] as a temporary solution.

[2015-01-14 12:11] eshioji commented on #54
Oh sorry I meant to be working on this but got bogged down with lots of things happening in my former company.. Feeling rather guilty... It's much more relaxed now, I could work on this if you want.

As for performance, I think there is definitely a good chance we can score a gain. In the world of web servers, it's been established that non-blocking is advantageous because you interact with client

[2015-01-14 13:33] jnioche commented on #54
@kkrugler thanks for your comments, very useful as usual.
@eshioji great to hear from you. feel free to create a separate branch to play with. I expect you'd need to modify the protocol interface and/or the Fetcher logic quite a bit

[2015-01-14 14:36] jnioche opened #55 "SitemapParser apply filtering to outlinks"

[2015-01-14 14:39] jakekdodd commented on #54
Each task of the SimpleFetcherBolt will block IO to make its HTTP request. When using that bolt, concurrency can be achieved by tuning the number of executors (threads) and tasks.

The regular FetcherBolt is already asynchronous from the perspective of Storm, and its concurrency is limited by the number of threads in the pool. The size of the thread pool is functionally equivalent to the max conne

[2015-01-14 16:17] jnioche commented on #55
Implemented in [master 329263c]

[2015-01-14 16:17] #55 closed

[2015-01-14 21:47] GuiForget opened #56 "Pass the storm config when configuring the ParseFilter"
So they can access information shared via the yaml files

[2015-01-14 21:48] GuiForget commented on #56
I marked it with milestone 0.4 as we may as well make this interface change sooner than later. PR coming soon

[2015-01-15 04:36] GuiForget commented on #31
This test passes when I use the JSoupParserBolt... So seems like another Tika Parser issue... I'll try to dig into it

[2015-01-15 09:29] #56 closed

[2015-01-15 09:41] #31 closed

[2015-01-15 10:12] jnioche commented on #48
Fixed in [master 4f1339e] NPE in ParserBolt #48

[2015-01-15 10:12] #48 closed

[2015-01-15 10:13] jnioche commented on #41
@DigitalPebble/committers-crawler shall we proceed with this and then release 0.4? Anything else we'd want to put in the release?

[2015-01-15 11:33] jnioche opened #59 "Port NUTCH-1825"
see [https://issues.apache.org/jira/browse/NUTCH-1825]

[2015-01-15 12:47] jnioche opened #60 "update lists of committers in pom.xml"
@GuiForget could you please add yourself to that file?

[2015-01-15 12:57] jnioche opened #61 "Resource files overridden by ones provided by default in SC"
We currently use [http://maven.apache.org/plugins/maven-assembly-plugin/], which is fine but apparently Shade would give us more control.
One reason why we'd need it is for instance \: when an application uses storm crawler as a dependency, it gets the content src/main/resources (e.g. urlfilter config) in the uber-jar but the version coming from the dependency will override any files specified in

[2015-01-15 14:46] GuiForget commented on #41
I'm ok with it. The other option is to make 0.5 be just this change + the merge of metadata.

[2015-01-15 14:58] jakekdodd commented on #41
Let's do it--working on the reorganization now.

[2015-01-15 16:04] jakekdodd commented on #41
Take a look at 780a82c4f3ba6c3f94a61987a7803fa02bdb4c8c and let me know what you think. Clean/compile/test/package all seem to be functioning normally.

Only difference from discussion above is that the submodule artifacts are named 'sc-core' and 'sc-external,' so that we don't have to change the parent project name from 'storm-crawler.' Directories are named 'core' and 'external,' though.

[2015-01-15 16:30] #60 closed

[2015-01-15 16:40] GuiForget commented on #41
My early feedback:
- Regarding the artifact names, I assumed sc-core was just to keep it short during the discussion but I see that's the actual name you use. I'd prefer the full name storm-crawler-core
- Exec maven plugin. There's a version 1.3.x now
- in sc-external, I don't think the exec plugin is required
- in sc-external, I don't think you want the test-jar.
- in both projects, do we still n

[2015-01-15 16:43] jakekdodd commented on #41
Agree on all points there. For consistency, should we also change sc-external to storm-crawler-external?

[2015-01-15 16:43] GuiForget commented on #41
Yes, that was implied :)

[2015-01-15 17:37] jakekdodd commented on #41
Should probably add this as a separate issue, but it looks like the javadoc goal still breaks the release profile. @GuiForget I remember you brought this up a while ago...did we have any intended resolution on that?

[2015-01-15 18:17] GuiForget commented on #41
The resolution was that it worked for @jnioche  :)

[2015-01-16 09:53] jnioche commented on #41
+1 to Gui's points above

* bigjar : can explain in Wiki how to do that and it is in Spiderling indeed but I quite liked being able to run in distributed Storm just by tweaking  the CrawlTopology in core.

* should not we move the dependencies from the parent pom to core?

* will need rebasing to incorporate most recent changes to master?

* I'd move the whole of the metrics package to external as

[2015-01-16 09:56] jnioche commented on #41
Metrics package \: of course it is not external in the sense that it relies on a third party library (although it does with Codahale) but it is external in the sense that it is a non-core component the use of which is completely optional. Longer term we'll see what happens to it and whether it makes sense to keep it or not.

[2015-01-16 09:57] jnioche opened #64 "Refactoring the metrics in ParserBolt"
See discussion in #41 : the metrics package will probably move to 'external' in which case we'll have to refactor ParserBolt so that it uses standard storm metrics instead.

[2015-01-16 14:25] jnioche commented on #64
implemented in #65

[2015-01-16 14:25] #64 closed

[2015-01-16 17:52] jakekdodd commented on #41
Good point, the bigjar for sc-core might have some usefulness in development. Let's leave it in the sc-core pom for now...if it's not being used, we can easily remove it in the future.

Yeah the original intent was to keep them in the parent pom so that we could selectively exclude them from child projects. But, for now it seems unlikely that we'll have any child projects of sc-core, so I'll move

[2015-01-19 12:38] jnioche commented on #41
Only getting \:
[code]

[2015-01-19 12:42] jnioche opened #66 "ParserBolt to send outlinks to status stream, remove from default one?"
The [ParserBolt](https://github.com/DigitalPebble/storm-crawler/blob/master/src/main/java/com/digitalpebble/storm/crawler/bolt/ParserBolt.java) currently sends the outlinks to the default stream alongside the other fields for a document ("url", "content", "metadata", "text"). It would be better to send them to the status stream instead, as we do for the Sitemaps, redirections etc...

[2015-01-19 16:56] jakekdodd commented on #41
New commit b33c073e749792d505cd994261643aef28e4dbbb:

* Test-jar not produced for sc-external with the release profile
* Renamed submodules to storm-crawler-core and storm-crawler-external (will continue to refer to these with the 'sc' prefix in discussions for brevity)
* Bigjar is again included in the sc-core pom
* Added dependencyManagement and pluginManagement sections in the parent pom for re

[2015-01-19 17:04] jnioche commented on #41
This has been done see #65

Will check your latest commit on Wednesday.

[2015-01-19 17:25] jakekdodd commented on #41
Have rebased against master, with #65 applied the metrics are now located in `com.digitalpebble.storm.crawler.codehale.metrics.*` and `com.digitalpebble.storm.crawler.librato.metrics.*` packages

[2015-01-19 21:01] jnioche commented on #41
[https://github.com/DigitalPebble/storm-crawler/tree/project-reorganization/core/src/main/java/com/digitalpebble/storm/metrics] package still appears in core.

I'd leave the codehale related stuff under `com.digitalpebble.storm.crawler.metrics` as the fact that they leverage codehale is not very important from a functional point of view, whereas the librato related code could be in com.digitalpebb

[2015-01-19 21:08] jakekdodd commented on #41
Haven't made and pushed the commit yet, wanted to finish the discussion first so we don't have a bunch of random commits in the history

Regarding:

and

That seems more sensible and less verbose to me; the reason why I named the packages `com.digitalpebble.storm.crawler.<dependency name>.metrics.*` was for consistency (mirroring `com.digitalpebble.storm.crawler.elasticsearch.*`). This came from t

[2015-01-20 23:08] eshioji commented on #54
Created a feature branch: https://github.com/DigitalPebble/storm-crawler/tree/feature/non-blocking-fetcher

I haven't done the fetcher bit yet, but it does illustrate the proposed refactoring on the protocol/robot rule parser interface. Note that I used the Guava classes copied into Storm's source. This will avoid having a dependency to Guava but will tie the code to Storm. Am not sure if this is

[2015-01-20 23:16] jakekdodd commented on #54
We already switched over to the storm-packaged Guava classes in other locations in the codebase, so I think that's the right approach

[2015-01-21 14:16] jnioche commented on #41
I agree but I think it is a bit different for the metrics as the dependency does not really matter. Later on we'll have the same sort of components (spout, status updater bolt, indexers, etc...) for different backends (ES, SOLR, HBase) and that's where it will make sense to organise per dependency.

I am not too bothered about that. Do you have any alternatives in mind?

[2015-01-21 14:24] jnioche commented on #54
I'll have a closer look at this when I get a moment. Quick comment for now : I had a http protocol implementation based on AsyncHttpClient but as it uses Netty as a default provider, this caused all sorts of issues with Storm itself. Probably not a problem anymore now that Storm shaded Netty but worth keeping in mind. See [https://storm.apache.org/2014/11/25/storm093-released.html#reduced-dependen

[2015-01-21 15:14] jakekdodd commented on #41
Newest commit is cb47e58769bc73435434220ed2988e0e18d49d71

* Codehale-related stuff is in `com.digitalpebble.storm.crawler.metrics.*`
* Librato-related stuff is in `com.digitalpebble.storm.crawler.librato.metrics*`. This is similar to your suggested `com.digitalpebble.storm.crawler.metrics.librato.*`, but will help with consistency if/when we eventually have Elasticsearch/Logstash/Redis/etc. metri

[2015-01-21 15:35] jnioche commented on #66
If we decide to send the outlinks through the 'status' stream then it would be good to do it before the 0.4 release
@DigitalPebble/committers-crawler  any thoughts on this?

[2015-01-21 15:44] jnioche commented on #41
Both core and external's poms contain \:

[code]

is that necessary given that it is already in the parent pom? Shouldn't they be scoped as `provided` and `test` respectively?

`jackson-databind` is in both the parent and the core pom.

the README will probably need changing to add 'core' in the paths where needed.

[2015-01-21 15:47] GuiForget commented on #66
I'm ok with that

[2015-01-21 15:50] jakekdodd commented on #41
Yep, when using dependencyManagement, you still need to explicitly state in the child pom that you're using a declared dependency. They inherit the scope from that declared in the parent pom (see documentation [here](http://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#Dependency_Management)).

The `jackson-databind` dependency will probably be used at some point o

[2015-01-21 15:51] jnioche commented on #41
@jakekdodd thanks for the explanation

[2015-01-21 16:16] jnioche commented on #66
see #67

[2015-01-21 23:18] eshioji commented on #54
@jakekdodd Ah I see, thank you!
@jnioche That would be great. Re: dependency clash I didn't have to add Ning's AsyncHttpClient as one of the dependencies apparently already had it. It also seemed to run OK when I did a smoke test. Hopefully it will be fine..

[2015-01-22 12:13] jnioche opened #68 "Normalise metadata returned by servers"
[code]

where *location* is in lowercase and our code expects it to be 'Location' in order to work. We could lowercase ALL keys in our metadata or alternatively normalise the key names at the protocol level.

[2015-01-22 14:50] jnioche commented on #51
See [https://github.com/DigitalPebble/storm-crawler/wiki/statusStream]

[2015-01-23 09:42] jnioche commented on #41
Done in #70

[2015-01-23 09:42] #41 closed

[2015-01-23 10:30] jnioche opened #71 "Pre-release tasks"
- Apply formatting to the whole code
- update README file to include `core` in paths and jar names

[2015-01-23 13:10] jnioche opened #72 "Missing transitive dependencies"
Since refactoring the sources in to core and external, any project declaring SC as a dependency is not getting org.jdom or crawler-commons as transitive dependencies. I am pretty certain this was the case before.

@jakekdodd any idea?

[2015-01-23 13:26] jnioche commented on #72
Apologies. It works fine when declaring -core as a dependency. The confusion came from the fact that the parent POM generates a 'storm-crawler' item as well which does not have all the dependencies.

[2015-01-23 13:26] #72 closed

[2015-01-23 14:17] jakekdodd commented on #71
I'll tackle the documentation

[2015-01-23 14:18] jnioche commented on #71
I already updated README

[2015-01-23 14:38] jakekdodd commented on #71
Should we illustrate using `storm-crawler-core` and `storm-crawler-external` as separate maven dependencies?

Also, I was going to create READMEs for each submodule

[2015-01-23 14:40] jnioche commented on #71
Maybe let's just mention -external and show how to use it in Maven. I don't think we need separate READMEs, there isn't much to say about external.
What we should do is have a separate WIKI page describing the resources in external.

[2015-01-24 17:33] #66 closed

[2015-01-25 14:06] GuiForget commented on #71
I submitted a PR which cleans up the code

[2015-01-25 14:16] GuiForget commented on #71
The javadoc issue is also fixed. I'm now able to run `mvn package -P release` without any errors

[2015-01-25 14:20] GuiForget commented on #68
Per RFC, the field names are indeed case insensitive. I would lowercase them all in the protocol

[2015-01-25 14:34] GuiForget commented on #53
I'm going to work on that so I get more familiar with this piece of the code

[2015-01-26 10:16] jnioche commented on #71
thanks, will release shortly

[2015-01-26 14:48] jakekdodd commented on #71
Yep `mvn package -P release` builds the javadocs without any errors. :+1:

[2015-01-26 15:06] jakekdodd commented on #68
See 527f93699315600ed2861ad34dc6060617afaa18

I identified side effects for:

* `com.digitalpebble.storm.crawler.protocol.HTTPHeaders`
* `com.digitalpebble.storm.crawler.protocol.http.HttpRobotRulesParser`

CrawlTopology seems to run fine, and inspecting the metadata in the debugger confirmed that it's all lowercase.

Can you guys think of any other side effect that need to be addressed?

[2015-01-26 17:22] GuiForget commented on #68
I think that's good. Can't think of anything else

[2015-01-27 21:55] eshioji commented on #54
@jnioche Did a first pass of the NonBlockingFetcherBolt. It's nowhere complete but it does fetch URLs ok. Would maybe fit for a performance test with a bit more work.

[2015-01-28 10:51] #53 closed

[2015-01-28 11:19] jnioche opened #75 "Document URLFilters and their configuration"
Have a separate WIKI page for that

[2015-01-28 11:39] jnioche opened #76 "Fix release artefacts"
The release is done with the following commands \:

mvn release:clean release:prepare -P release
mvn release:perform -P release

Since refactoring into core and external I am seeing the following

*uber-jar published for core*

.../content/com/digitalpebble/storm-crawler-core/0.4/storm-crawler-core-0.4-jar-with-dependencies.jar

which should not have happened since I specify the 'release' profile.

[2015-01-28 11:41] jnioche commented on #76
and maybe rename the parent pom into 'storm-crawler-parent' to prevent any confusion as 'storm-crawler' used to contain the code but does not anymore

[2015-01-28 11:44] jnioche commented on #71
The release candidate for 0.4 can be found on \:
[https://oss.sonatype.org/content/repositories/comdigitalpebble-1007/com/digitalpebble/]

@DigitalPebble/committers-crawler please have a look at it and confirm that it can be released.

I opened #76 but this can be done for the next release I think. Thanks!

[2015-01-28 11:46] jnioche commented on #71
Note that a release tag has already been created [https://github.com/DigitalPebble/storm-crawler/releases/tag/0.4] and the versions have been upped automatically in the code but we can revert to the previous values if you find something serious and we need to spin a new RC.

[2015-01-28 13:58] jakekdodd commented on #76
Should be easy fixes, I'll get on that.

[2015-01-28 16:32] jnioche commented on #71
Have published the release, the artefacts will be in Maven Central soon. Let's do a 0.4.1 if we find that something is wrong.

[2015-01-28 16:32] #71 closed

[2015-01-28 17:07] jnioche commented on #68
Implemented in #77

[2015-01-28 17:07] #68 closed

[2015-01-29 10:43] jnioche opened #79 "SimpleFetcherBolt should use status stream to report error"
@jakekdodd want to take care of this one?

[2015-01-31 15:50] jakekdodd commented on #79
Addressed in e1ab315d39ca2d5919049fb0b36da184a2aefc18

[2015-01-31 15:50] #79 closed

[2015-01-31 15:55] jakekdodd opened #83 "Metadata emitted in fetcher"
I noticed that, in some places, we emit `response.getMetadata()` and in other places, we emit `metadata` within FetcherBolt and SimpleFetcherBolt.

The `response.getMetadata()` includes all of the original tuple `metadata` (if extant). Is there a reason for emitting only the original tuple `metadata` in some situations? Particularly when emitting to the status stream, it might be beneficial downst

[2015-01-31 15:56] jakekdodd commented on #76
Addressed in #80

[2015-01-31 15:56] #76 closed

[2015-01-31 15:59] jakekdodd commented on #61
Yeah I think using the Shade plugin is the *de facto* standard for creating uber jars. I'll look into it

[2015-02-03 01:15] jnioche opened #85 "URLPartitionerBolt to partition on arbitrary metadata value"
Not a top priority issue but something to keep in mind for later.

[2015-02-03 21:20] jnioche opened #86 "Use a single MultiCountMetric in FetcherBolt"
[https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/bolt/FetcherBolt.java#L87]

they are of the same nature, why use 2?

[2015-02-03 22:48] jnioche commented on #86
Actually they could be of a different nature. one is used for counters while the other is used for gauges.

[2015-02-05 13:19] jnioche commented on #83
+1

[2015-02-05 22:27] jakekdodd opened #87 "NotSerializableException for Metadata"
Getting `NotSerializableException: com.digitalpebble.storm.crawler.Metadata` when running CrawlTopology on the master branch. For reference, I'm running the topology in local mode using maven exec.

I'm 99.99% sure that Metadata just needs to implement Serializable (this solves the problem for me). Just wanted to check if CrawlTopology was successfully executing for anyone else after the most rece

[2015-02-05 22:37] jnioche commented on #87
You are not using the [ConfigurableTopology](https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/ConfigurableTopology.java#L58)?
This adds `Config.registerSerialization(conf, Metadata.class);` to the config, which is needed for the Metadata to work.

[2015-02-05 22:42] jakekdodd commented on #87
CrawlTopology extends ConfigurableTopology, so at first glance the serialization registration should be taken care of. I'll take a closer look.

[2015-02-05 22:43] jakekdodd commented on #87
There it is...the registration only happens when not running in local mode.
[code]

[2015-02-05 22:45] jnioche commented on #87
Sorry read your email too quickly, should have seen that you were using
CrawlTopology. Weird, I thought the serialization happened only in
distributed mode. Good catch! do you want to patch it or shall I?
Is there another place we should put this in, in case people don't use
ConfigurableTopology?

On 5 February 2015 at 14:43, Jake Dodd <notifications@github.com> wrote:

--

* Open Source Solutions

[2015-02-05 22:52] jakekdodd commented on #87
Yeah I'll look into moving the registration somewhere else and then patch it...at the very least, we can document the fact that a user must manually register Metadata for serialization if they choose to not extend ConfigurableTopology

[2015-02-05 23:11] jakekdodd commented on #87
Patched in 2cb21606d5fae54670922d9897d1938f4388803a.

Will make a new issue for documenting the Metadata registration when not using ConfigurableTopology

[2015-02-05 23:11] #87 closed

[2015-02-05 23:14] jakekdodd opened #88 "Documenting Metadata registration"
A user building a topology that doesn't extend ConfigurableTopology will need to manually register Metadata for serialization.

[2015-02-05 23:56] jakekdodd commented on #83
Addressed by 160b9d4dbe850e0f9dfa57f7a9e5253568282d54

[2015-02-05 23:56] #83 closed

[2015-02-06 00:15] jnioche opened #89 "Concurrency issue with ProtocolFactory"
I've just found that when looking at the code with Pradan, [ProtocolFactory](https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/protocol/ProtocolFactory.java) caches the Protocol instances so there is exactly one instance within a ProtocolFactory.

In the FetcherBolt we have a single instance of ProtocolFactory, which is used by all the th

[2015-02-06 00:15] jnioche commented on #89
ifModifiedSince could be handled within the HttpResponse instead.

[2015-02-06 00:59] jakekdodd commented on #89
Whoops, that's definitely an oversight on my part in implementing `ifModifiedSince`.

One option would be to overload the `HttpResponse` constructor, like:

[code]

But I have a sneaking suspicion that, eventually, we'll have other metadata-dependent behaviors for HttpResponse (Gui's ETag example, for instance). So if we're going to overload the constructor, the third argument should probably be t

[2015-02-06 15:29] jnioche commented on #89
+1 to passing the metadata. do you have time to fix this?

[2015-02-06 18:40] jakekdodd commented on #89
Yep no problem, will be able to tackle it this evening

[2015-02-06 19:03] pradhanbu commented on #89
Jake, I am writing a test case for this. If its fine with you I can sneak
in the fix along with that.

On Fri, Feb 6, 2015 at 10:40 AM, Jake Dodd <notifications@github.com> wrote:

[2015-02-06 19:16] jakekdodd commented on #89
Yes absolutely!

[2015-02-06 21:43] jnioche commented on #89
Fixed by Pradhan in #90
Thanks!

[2015-02-06 21:43] #89 closed

[2015-02-13 12:02] jnioche commented on #75
See [https://github.com/DigitalPebble/storm-crawler/wiki/URLFilters]

[2015-02-13 12:02] #75 closed

[2015-02-18 15:29] jnioche opened #92 "[ElasticSearch] Spout for reading URLs from status index"
I wrote a StatusUpdaterBolt [master eb5bf73] for ElasticSearch which would be perfectly complemented by a Spout.

[2015-02-18 15:31] jnioche opened #93 "Add cache to AbstractStatusUpdaterBolt"
The AbstractStatusUpdaterBolt [1f7e546] should help writing bolts to store the status of URLs. I will add an internal cache so that URLs which are already known do not get written as DISCOVERED every time. The cache should be configurable from the usual Storm config.

[2015-02-18 16:48] jnioche commented on #93
Implemented in [master 7d1f2dd]

[2015-02-18 16:48] #93 closed

[2015-02-19 14:04] #92 closed

[2015-02-25 12:05] jnioche opened #96 "Track target of redirection"
We should store the target of a redirection in the metadata of the redirected URL, regardless of whether the target gets filtered or not.  This will make it easier to debug the behaviour of the Fetcher

[2015-02-25 14:30] jnioche opened #97 "How to write a nice manual for SC?"
Use [https://www.gitbook.com/]?
Just the WIKI?
[asciidoc](http://www.methods.co.nz/asciidoc/)?

[2015-02-25 15:23] jnioche commented on #35
Implemented in [8b6e5] then improved in [8c4a1885ad]

[2015-02-25 15:23] #35 closed

[2015-02-25 15:24] jnioche commented on #35
ping @jakekdodd, just in case you missed it

[2015-03-02 14:40] jakekdodd opened #99 "JSON stringifying metadata keys"
Was adding support for ETags in HttpResponse when I realized that, when using If-Modified-Since, it's looking for a metadata key actually named 'If-Modified-Since.' I think I originally did this for consistency, but now it seems like a bad idea. First because we're normalizing HTTP headers (so 'if-modified-since' would be better). But more importantly, I think these behavior-changing metadata keys

[2015-03-02 15:12] GuiForget commented on #99
No using the same key as the HTTP Header makes more sense to me. To me the key names should reflect what the data is, maybe something like "cachedEtag" and "cachedTimestamp".

[2015-03-02 15:25] jakekdodd commented on #99
That's the idea with ifModifiedSince and ifNoneMatch, but they're using the request header names. Using the response names would be totally OK, too. In that case, cachedEtag and cachedLastModified

[2015-03-02 15:41] jakekdodd commented on #99
Now that I think about it, I like using the response field names more because they do describe the data better, from a user's perspective.

[2015-03-04 10:25] jnioche opened #102 "Customisable/pluggable MetadataTransfer"
We currently have a hardwired, one-size-fits-all MetadataTransfer class. It would be good to be able to define user-specific ones and have them used in the same way regardless of which parser class calls them. These user-defined classes would extend the behaviour of MetadataTransfer.

[2015-03-04 10:37] jnioche opened #103 "Change signature for MetadataTransfer getMetaForOutlink(String sourceURL, Metadata parentMD)"
It would probably make sense to add the targetURL to the method so that the creation of metadata could take that URL into account.

[2015-03-04 10:58] #103 closed

[2015-03-04 11:33] jnioche opened #104 "Customisable/pluggable Scheduler instances"
We have a default Scheduler implementation and the corresponding interface. We now need a utility class which would allow users to plug their own implementation of Scheduler via the config.

[2015-03-04 11:38] #102 closed

[2015-03-04 14:08] jakekdodd commented on #99
Committed in 2c207eefd0522146de5e345ad45edfa11bc02596, need to modify the wiki now

[2015-03-04 14:12] jakekdodd commented on #99
Wiki has been updated

[2015-03-04 14:12] #99 closed

[2015-03-06 14:54] jnioche opened #105 "Add remove(String key) method to Metadata"

[2015-03-09 09:55] jnioche opened #106 "[Maven] publish src as artefacts"
I don't think we publish the src code in a jar as part of the artefacts, do we?

[2015-03-12 11:43] jnioche opened #107 "Emit status Fetched if server returns a 304"
It is currently handled as a redirection.

[2015-03-12 11:44] jnioche opened #108 "Normalise HTTP headers"
Port SpellCheckedMetadata from Nutch to cater for variations returned by servers

[2015-03-12 11:51] jnioche opened #109 "Use metadata keys last-modified and etag"
Allow their use globally via configuration as well as overriding the de/activation on a per URL basis with use.Etag or use.ModifiedSince.

[2015-03-12 11:53] jnioche commented on #106
have assigned the issue to you as you are our maven expert ;-)

[2015-03-12 17:14] #105 closed

[2015-03-12 17:20] #107 closed

[2015-03-13 11:00] jnioche opened #110 "Release 0.5"
List the issues we want to include in the next release and do it

* [Maven] publish src as artefacts #106

@DigitalPebble/committers-crawler what else?

[2015-03-16 14:14] jakekdodd commented on #106
"expert" :)

I'll get on this

[2015-03-16 14:23] jakekdodd commented on #110
The boring stuff, documentation =/

So #88 and #51, and maybe open a new issue for other things to document. Let's rank-order and choose the top 5 items or so? I'd propose

1. Overview
2. FetcherBolt description
3. Parsing/outlink generation
4. Configuration
5. Streams (#51)

[2015-03-25 15:45] jnioche opened #112 "[ElasticSearch] Indexer to extend AbstractIndexerBolt"
[master 15a8ca7] introduced the AbstractIndexerBolt which uses the configuration to define what to send to an indexer

The Indexer we have in external for ES should extend this class so that we can configure which fields to send to the indexer via the configuration.

[2015-03-25 16:03] #112 closed

[2015-03-26 10:43] jnioche commented on #61
Definitely an issue. Just got an uber jar where the default files from SC overrode the ones specified by my application. As a result all the custom parsing and filtering I had specified got ignored. Will change the title of this issue.

[2015-03-26 14:12] jakekdodd commented on #61
Check out this commit and branch 7ac9a07a1fed4282714d14a12e9666d7c7cdcb1d

It renames the parsing/filtering resources to default-{resource name}, and then excludes the originals from the jar.

However, this doesn't resolve the issue when SC is included as a maven dependency in another project (because the shade plugin is in the bigjar profile, for now).

What do you think? We can proceed with usin

[2015-03-26 14:21] jnioche commented on #61
The issue is mainly when  SC is included as a maven dependency in another project. Also we'd want to have the default files with their original names so that we can rely on them without changing the configuration if we wanted to.

What we just want to do really is to make sure that the local files systematically overwrite the default ones. Is that something we can do with Maven Shade?

[2015-03-26 14:43] jakekdodd commented on #61
Hmm unfortunately I think that's only possible from the user's end.

Though isn't that the point of the `parsefilters.config.file` and the `urlfilters.config.file` configuration options? The user can override the defaults by including their own configuration files. If that weren't the case, then the defaults aren't really 'defaults'--they're just examples.

[2015-03-26 14:44] GuiForget commented on #61
Specifying the file names in the yaml file is what we did in the shopstyle crawler.

[2015-03-26 15:28] jnioche commented on #61
I realize I had been inaccurate in my description of the issue. The assumption was that  user builds an uber jar with the same mechanism as we do. I don't think many people will clone the SC code and add their modifications straight onto it but will rather use it as a dependency.

Which is what I did too. The point here is that if a ppl reuse the same resource names as the default, the behaviour o

[2015-03-26 15:55] GuiForget commented on #61
But then... isn't the issue for the user when THEY build their uber jar?

[2015-03-26 16:01] jnioche commented on #61
it is, that's exactly what I am on about. Not a core SC issue per-se but one I'd be happy to solve nonetheless, if not here then in spiderling.

[2015-03-26 16:03] jakekdodd commented on #61
Yeah I agree, one solution would be to rename the defaults by prepending large random strings using the shade plugin. So for example `urfilters.json` would be renamed to something like `a473f5a2bcce41876d5f9a911c3ebe72-urlfilters.json`. That seems silly, but it would work.

...

This is what I was thinking. If a user really wants to have their own `default-*` resources that override the packaged r

[2015-03-26 16:10] jnioche commented on #61
I'm probably missing something here but there are also cases where the users want to use the default values. If those are renamed then this won't work.

If there is no easy way to control the order in which things are added to the uber jar and hence that the user resources are always added last then we could simply make it very explicit in the documentation (which we will have at some point of cou

[2015-03-26 16:33] jakekdodd commented on #61
If a user doesn't specify `parsefilters.config.file` and `urlfilters.config.file` in the YAML configuration, then the defaults will be used. Right now, as you've pointed out, if a user names their file `urlfilters.json`, and then specifies:

[code]

 the version packaged with SC will be used instead of the user's. Similarly, if we renamed the packaged version to `default-urlfilters.json`, and the

[2015-04-08 10:23] jnioche opened #114 "Use JSoupParserBolt in example topologies and move tika parser to external"
[master 6a2d145] Added JSoupParserBolt (donated by Shopstyle)

which was the one in [https://github.com/PopSugar/storm-crawler-extensions/tree/master/jsoup-parser]

This should be used instead of the Tika-based one which is not a great option for HTML content.

The Tika parser should probably be moved to external \: it has tons of dependencies and this would make the generated jars a lot lighter.

[2015-04-08 15:02] jnioche commented on #23
I've made good progress on a HTTP implementation based on  [http://hc.apache.org/]. Will commit post 0.5 release

[2015-04-09 21:36] jakekdodd commented on #114
:+1:

[2015-04-10 15:56] jnioche commented on #51
Good enough for now I think. Comments and review welcome as usual

[2015-04-10 15:56] #51 closed

[2015-04-13 10:14] jnioche commented on #114
Looks like we need  to have Xerces as a dependency because of `org/apache/html/dom/HTMLDocumentImpl` which is also used in the JSoupParser if we remove Tika. See [https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/parse/JSoupDOMBuilder.java#L73]. I am wondering whether there is a way of achieving this without using Xerces at all.

[2015-04-13 11:36] jnioche opened #117 "Parse could generate output for more than one document"
At the moment we get a 1:1 relationship between the input and output of a parsing step. We could have a 1:N instead and more than one document in the output.

This is done in Nutch 1.x where the [ParseResult class](https://github.com/apache/nutch/blob/trunk/src/java/org/apache/nutch/parse/ParseResult.java) is a `Map<String,Parse>` with the [Parse](https://github.com/apache/nutch/blob/trunk/src/jav

[2015-04-13 14:40] GuiForget commented on #117
:+1:  from me as we have product pages with multiple products on it

[2015-04-15 01:12] GuiForget opened #118 "URLs with escaped characters get double encoded by the BasicURLNormalizer"
http://www.dillards.com/product/ASICS-Womens-GT2000-3-LiteShow%E2%84%A2-Running-Shoes_301_-1_301_504736989

is normalized as

http://www.dillards.com/product/ASICS-Womens-GT2000-3-LiteShow%25E2%2584%25A2-Running-Shoes_301_-1_301_504736989

[2015-04-15 05:50] GuiForget opened #120 "Should we normalize further the URLs"
Based on this page http://en.wikipedia.org/wiki/URL_normalization, I was wondering if should update BasicURLNormalizer to implements the first 2 sections.

[2015-04-15 08:50] #114 closed

[2015-04-15 14:34] kkrugler commented on #120
I believe the Nutch URL normalizer already does many of these. As well as what's in [Bixo|https://github.com/bixo/bixo/blob/master/src/main/java/bixo/urls/SimpleUrlNormalizer.java]. And (of course) I'd recommend pushing that support down into crawler-commons :) No sense in having 8 versions of the same basic functionality.

[2015-04-16 12:18] jnioche commented on #120
+1 to having that in BasicURLNormalizer via a standalone class that we could donate to crawler-commons.
Our definition of a (URLFilter)[https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/filtering/URLFilter.java] is probably richer than what we'd need in CC so a simple `public static String normalize(URL url)` would probably do.

[2015-04-16 14:51] #118 closed

[2015-04-16 14:53] jnioche commented on #120
Just found about the handy normalise method in [URI](http://docs.oracle.com/javase/7/docs/api/java/net/URI.html#normalize()). We should definitely add this one-liner to the normaliser

[2015-04-16 22:49] kkrugler commented on #120
I've got a minor concern about using URL for the normalize() method parameter, and using the URI.normalize() method. When we were doing big web crawls, having to instantiate a URL class for each URL wound up generating a lot of GC activity.

This was typically only an issue (as a percentage of all object creation) when we had a map task that was just doing something simple with a URL...we'd get it

[2015-04-17 08:38] jnioche commented on #120
We could have a simple approach to begin with (using URI.normalize) and a more efficient one later on if it really becomes an issue. In the context of storm crawler, with all the stuff happening at the same time, I don't think the overhead of using URIs will be very noticeable. As you pointed out this might be different for more specific use cases if we do that in CC.

BTW Nutch has code based on

[2015-04-17 14:20] GuiForget opened #123 "Change XPath to take a list of regular expressions for a given key"
Results would be a flatmap of the individual results

[2015-04-17 14:20] GuiForget commented on #123
@jnioche does that make sense? I was thinking of working on that over the week-end

[2015-04-17 14:20] GuiForget opened #124 "Add/Improve documentation on parsing"

[2015-04-17 14:21] GuiForget commented on #110
I'll take a stab at the parsing one

[2015-04-17 14:24] jnioche commented on #123
Do you mean have more than one xpath expression per label e.g. description below?

[code]

[2015-04-17 14:27] GuiForget commented on #123
Yeah. So I would change it to this:
[code]

Basically single single string and list of string would be supported for backward compatibility

[2015-04-17 14:36] jnioche commented on #123
makes a lot of sense.

[2015-04-20 08:17] jnioche commented on #120
FYI see [https://issues.apache.org/jira/browse/NUTCH-1990]

[2015-04-20 21:59] sebastian-nagel commented on #120
Has anyone tried [http://src.chromium.org/viewvc/chrome/trunk/src/url/]? There are [Python](https://pypi.python.org/pypi/python-google-url/) and [Perl](http://search.cpan.org/~mellery/URL-Google-GURL/lib/URL/Google/GURL.pm) bindings.

[2015-04-22 10:41] #23 closed

[2015-04-22 10:43] jnioche commented on #59
Probably not needed since #122. Will check

[2015-04-22 12:16] jnioche commented on #108
Note : should probably reuse org.apache.http.HttpHeaders instead of having our own version. Need to check whether the Apache http core library has any mechanism for  normalising the keys returned by a server.

[2015-04-22 13:01] #59 closed

[2015-04-25 03:47] jakekdodd opened #126 "Remove fetchqueue stuff"
I think most, if not all, of the classes in that package are unused.

@jnioche do you have any clients that are using/examining those classes?

If not, should we remove everything outright? Or is there anything worth refactoring and keeping in the project?

[2015-04-27 09:17] jnioche commented on #126
This is mostly old stuff dating from when I started work on SC. I can't remember myself how it is meant to be used and I don't think anyone uses it. Let's remove it unless someone objects within the next 48 hours.

[2015-04-29 12:53] jakekdodd commented on #126
b5f305442fe648a5d734dbdf8f77ff5bef6c640c completed

[2015-05-05 17:25] rkrombho commented on #110
I'll try the Configuration one. May need some help and reviews for certain parameters as I don't yet understand all of them completely. Working on [my fork](https://github.com/rkrombho/storm-crawler/wiki/Configuration) and submit a PR when it's done.
I'll mark unclear parameters with ??? in the beginning of the description. They will require closer reviews by one of you.

[2015-05-06 09:17] jnioche commented on #110
Hi @rkrombho. Thanks for volunteering! Let me know when you're done with it and I'll review.

[2015-05-10 11:23] rkrombho commented on #110
I'm pretty much done now with documenting Configuration options but it looks like I can't create pull-requests for wiki repositories.
https://github.com/rkrombho/storm-crawler/wiki/Configuration
(formating of the tables is not so nice)

Any proposal on how I should submit this to the project?

[2015-05-11 08:21] jnioche commented on #110
Hi

You should be able to edit the WIKI directly. Just add the Configuration
page and create a link from the main page

Thanks

j.

On 10 May 2015 at 12:23, Robert Krombholz <notifications@github.com> wrote:

--

* Open Source Solutions for Text Engineering   http://www.digitalpebble.com
<http://www.digitalpebble.com>*
*http://digitalpebble.blogspot.com <http://digitalpebble.blogspot.com/>*
https:

[2015-05-11 10:55] jnioche opened #130 "[HBase] Write Spout and StatusUpdaterBolt for HBase"
Comparable to what we already have for ES; except that we wouldn't need to store or index the content but simply keep the URL status and metadata.

[2015-05-11 10:58] jnioche commented on #106
We actually do [http://search.maven.org/#search%7Cga%7C1%7Cstorm%20crawler]

[2015-05-11 10:58] #106 closed

[2015-05-11 11:05] jnioche opened #131 "WIKI page Overview"

[2015-05-11 11:06] jnioche opened #132 "WIKI page FetcherBolt(s)"

[2015-05-11 11:09] jnioche commented on #110
Here's what's left to do before we can release [0.5](https://github.com/DigitalPebble/storm-crawler/milestones/0.5)

* WIKI Overview (#131)  @jnioche
* WIKI FetcherBolt description (#132)
* WIKI Parsing/outlink generation (#124) @GuiForget
* Documenting Metadata registration (#88) @jakekdodd
* Change XPath to take a list of regular expressions for a given key (#123) @GuiForget
* Resource files ove

[2015-05-12 15:26] jakekdodd commented on #88
[Done](https://github.com/DigitalPebble/storm-crawler/wiki/Registering-Metadata-for-Serialization)

[2015-05-12 15:26] #88 closed

[2015-05-12 15:26] jakekdodd commented on #110
#88 is done

[2015-05-13 12:25] jnioche commented on #131
Started on [https://github.com/DigitalPebble/storm-crawler/wiki/Introduction]

[2015-05-15 15:57] jnioche opened #133 "Tick tuple in SimpleFetcherBolt"
[https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/bolt/SimpleFetcherBolt.java#L160]

@jakekdodd the tick tuples aren't needed, are they? Was it something you copied from the other FetcherBolt?

[2015-05-15 16:21] jakekdodd commented on #133
Yep it was copied over from FetcherBolt, and no it's definitely not needed--I'll take care of it now

[2015-05-15 16:23] jnioche commented on #132
Done in [https://github.com/DigitalPebble/storm-crawler/wiki/FetcherBolt%28s%29]
comments welcome as usual

[2015-05-15 16:23] #132 closed

[2015-05-15 16:25] jakekdodd commented on #133
b84231124f7c412074f9c5ce63157599f04bed01 closed

[2015-05-15 16:25] #133 closed

[2015-05-15 16:25] jnioche commented on #126
There are still config elements related to this [https://github.com/DigitalPebble/storm-crawler/blob/master/core/crawler-conf.yaml#L61] and Constants

[2015-05-15 16:26] jakekdodd commented on #126
Thanks for catching that, will take care of it

[2015-05-18 07:59] jnioche commented on #126
Fixed in [master 3995c78] Removed constants and configs from sharded queues + Tika #126

[2015-05-18 07:59] #126 closed

[2015-05-20 08:29] jnioche commented on #124
[https://github.com/DigitalPebble/storm-crawler/wiki/JSoupParserBolt] already describes the parsing bolt. We should have an additional wiki page for the ParseFilter. Apart from that what else did you have in mind @GuiForget?

[2015-05-20 11:03] jnioche commented on #124
[[ParseFilters]] done

[2015-05-20 11:06] #131 closed

[2015-05-20 11:36] jnioche commented on #124
Have just added a description of [https://github.com/DigitalPebble/storm-crawler/wiki/MetadataTransfer].

@GuiForget please let me know if there is anything else you want to add

[2015-05-20 11:37] jnioche commented on #110
Ok, so waiting for  @GuiForget to comment on #124 and should be OK to release after that

[2015-05-26 10:44] jnioche commented on #124
Closing. @GuiForget please reopen if necessary

[2015-05-26 10:44] #124 closed

[2015-05-27 08:15] jnioche commented on #110
no news from @GuiForget. Release 0.5 done

[2015-05-27 08:15] #110 closed

[2015-05-27 15:17] GuiForget commented on #110
Sorry @jnioche I haven't had the time to look at this these past weeks.

[2015-05-27 15:20] jnioche commented on #110
no probs @GuiForget !It's just documentation it can be fixed anytime

[2015-06-02 21:28] jnioche opened #134 "[SOLR] Write Spout, StatusUpdaterBolt and Indexer"
Comparable to what we have with ES

[2015-06-05 08:11] jnioche opened #136 "Investigate use of elasticsearch-metrics-reporter-java for MetricsConsumer"
See [https://github.com/elastic/elasticsearch-metrics-reporter-java]

[2015-06-05 08:26] jnioche opened #137 "Upgrade to storm 0.9.5"
[http://storm.apache.org/2015/06/04/storm095-released.html]

[2015-06-05 08:35] #137 closed

[2015-06-05 09:08] jnioche opened #139 "ParseFilter from interface to abstract class"
See discussion #129

[2015-06-08 13:02] jnioche opened #140 "Organise external content as separate sub-modules"
This is something that we had mentioned before in #41.  We currently have everything in external with a whole bunch of dependencies. Instead we should have a think about splitting into separate sub-modules e.g.
* elasticsearch
* tika
* metrics
* solr (see #134)

which is what is done in [storm](https://github.com/apache/storm/blob/master/pom.xml#L15).

An advantage of doing this would be that each

[2015-06-15 08:21] jnioche opened #141 "Update WIKI about ParseFilters and ParseData"
#135 introduced a change in the output of the parseFilters as they can now generate multiple documents from the original one

[2015-06-17 10:53] PatrickHuetter opened #142 "Does this crawler support javascript execution?"
1) Does this crawler support javascript execution?
2) Does the crawler use selenium? (in this case it should be possible to use phantomJS or any other browser engine)

3) If it doesn't use selenium: Is it possible to integrate selenium easily? (I'm not very deep in the architecture yet, but i would investigate if it's possible)

4) Is it possible to trigger some hooks before extraction? For exampl

[2015-06-17 11:02] #117 closed

[2015-06-17 11:15] jnioche commented on #142
Thanks for getting in touch Patrick

not yet

not yet but this is something we'd like to do. This would be done by implementing a custom protocol that would delegate the fetching to Selenuim.

This has been done by some of users (@GuiForget  & @jakekdodd ) but as a custom ParseFilter IIRC. As I mentioned above this could also be done as a custom protocol implementation.

Well, we have nothing at t

[2015-06-18 10:06] jnioche opened #144 "Selenium-based protocol implementation"
This should allow us to deal with the dynamic content. See discussion #142
Ideally we'd want to be able to have actions/navigations either programmatically or via configuration.

We could use :
- [selenium](http://seleniumhq.github.io/selenium/docs/api/java/index.html) directly
- or via [crawljax](https://github.com/crawljax/crawljax)
- [ghostDriver](https://github.com/detro/ghostdriver) with Phan

[2015-06-18 10:08] jnioche commented on #142
Have opened #144, let's discuss Selenuim there.

@PatrickHuetter please close this issue if you think I've answered all your questions

[2015-06-18 14:44] jnioche opened #146 "Text exclusion with googleon / googleoff"
This can be done by implementing googleon / googleoff, see [doc for Google Search Appliance](https://support.google.com/gsa/answer/6329153?hl=en#57a1e30a-63b2-4470-86a5-94a6c06912be)

We should implement a ParseFilter to restrict the text based on these tags and possibly filter the outlinks as well.

This filter could also have a set of Xpath in its configuration which would allow to restrict the

[2015-06-18 15:17] jnioche opened #147 "Enforce robots meta tags"
See [http://www.google.com/support/enterprise/static/gsa/docs/admin/70/gsa_doc_set/admin_crawl/preparing.html#1076168]

`<meta name="robots" content="noarchive, nofollow"/>`

as well as  `rel="nofollow"` attribute
`<a href="test1.html" rel="nofollow>no follow</a>`

[2015-06-18 15:26] jnioche commented on #147
Nutch equivalent

[https://github.com/apache/nutch/blob/trunk/src/plugin/parse-html/src/java/org/apache/nutch/parse/html/HTMLMetaProcessor.java]

and

[https://github.com/apache/nutch/blob/trunk/src/java/org/apache/nutch/parse/HTMLMetaTags.java]

[2015-06-19 14:16] rkrombho commented on #147
I would really prefer if this behavior could be switched of and on with a configuration flip.
`rel=nofollow` should only be used for ranking links. Crawlers typically still follow those links but remove them from any sort of rank calculation.

Here is what the big search engine cralwers do with it:
https://en.wikipedia.org/wiki/Nofollow#Interpretation_by_the_individual_search_engines

Especially f

[2015-06-22 09:23] jnioche commented on #147
Thanks for your comments @rkrombho

There seems to be different interpretations of what this is supposed to do indeed. The [doc for GSA](http://www.google.com/support/enterprise/static/gsa/docs/admin/70/gsa_doc_set/admin_crawl/preparing.html#1076168) which I mentioned previously implies that the links are not followed at all ("_The search appliance crawler retrieves and archives the document in th

[2015-06-22 13:22] #142 closed

[2015-06-22 13:22] jnioche commented on #141
Done in [https://github.com/DigitalPebble/storm-crawler/wiki/ParseFilters]

[2015-06-22 13:22] #141 closed

[2015-06-22 13:22] #140 closed

[2015-06-24 13:55] jnioche opened #149 "Indexer bolts use canonical URL"
We already have a parse filter that extracts canonical URLs. We should add to AbstractIndexerBolt the ability to use them instead of the URL when available

[2015-06-30 14:26] jorgelbg commented on #149
Adding this in the `AbstractIndexerBolt` means that it should be then optional to use in the indexers? perhaps creating and additional method that returns the right URL based on the Tuple received by the bolt, something like:

[code]

should work but this must be used instead of the default `url` var extracted from the Tuple in the execute method. This means that we should change this in the exist

[2015-06-30 14:27] jorgelbg commented on #149
Adding this in the `AbstractIndexerBolt` means that it should be then optional to use in the indexers? perhaps creating and additional method that returns the right URL based on the Tuple received by the bolt, something like:

[code]

should work but this must be used instead of the default `url` var extracted from the Tuple in the execute method. This means that we should change this in the exist

[2015-07-01 13:27] jnioche commented on #149
That's pretty much what I had in mind. Later on we could do the same as in Nutch and for redirections decide which of the source or target URLs is the nicest to display.

We'd probably need to check that the value of canonical is OK e.g. it belongs to the same domain and make its value absolute if necessary.

[2015-07-01 15:37] #147 closed

[2015-07-02 07:26] #134 closed

[2015-07-02 07:27] jnioche commented on #123
Implemented in #153

[2015-07-02 07:27] #123 closed

[2015-07-02 14:14] jnioche opened #154 "Enforce robots meta instructions with Tika parser"
See PR #147

[2015-07-02 15:24] jnioche opened #155 "[SOLR] add README file"
as mentioned in #152 we need a README file in external/solr to describe what we have there and how to use it e.g create and configure basic indices, run the topologies etc...

[2015-07-02 17:44] jorgelbg commented on #149
I'm going to add the validation in the canonical URL and submit a PR with the change.

[2015-07-03 13:00] jnioche opened #156 "SOLR : investigate use of field collapsing in Spout"
See #152

This would be a way of ensuring a good diversity of URLs in the results.

[2015-07-08 13:04] jnioche opened #158 "Remove needsDOM() in ParseFilter"
This was provided as a way of avoiding building the DOM structure for when no ParseFilters were requiring it and is used only in the Tika parser.

The RobotsTag extractor requires such a DOM so unless we are able to extract the robots directives differently e.g. via SAX and a custom ContentHandler we should reconsider whether this method is really needed.

The JSoupParseFilter could avoid building

[2015-07-13 13:35] jnioche commented on #155
Merged in #157

[2015-07-13 13:35] #155 closed

[2015-07-13 14:02] jnioche opened #160 "Remove external/metrics?"
unless anyone uses it of course.

@DigitalPebble/committers-crawler thoughts on this?

[2015-07-16 05:42] jorgelbg commented on #160
:+1: I don't see any problem

[2015-07-20 11:20] jnioche commented on #139
Implemented in #159

[2015-07-20 11:20] #139 closed

[2015-07-20 11:27] jnioche commented on #149
Implemented in #161

[2015-07-20 11:27] #149 closed

[2015-07-22 09:17] jnioche opened #163 "Release 0.6"
[https://github.com/DigitalPebble/storm-crawler/issues?q=is%3Aissue+milestone%3A0.6+is%3Aopen]

#156 is imminent
just #154 left but would be happy to postpone it.

@DigitalPebble/committers-crawler any other issues you'd like to see included in the next release?

I'm keen to release 0.6 this week or next - will be on holiday after that. Any thoughts?

[2015-07-22 09:22] jnioche commented on #156
Implemented in #162. Thanks @jorgelbg

[2015-07-22 09:22] #156 closed

[2015-07-24 20:24] jakekdodd opened #164 "Metadata needs to be made immutable before emitting"
We're getting ConcurrentModificationExceptions on Metadata instances while they're being serialized by Kryo.

According to the Storm docs, all values emitted in a tuple need to be immutable. This bug seems to rear its head when a Metadata instance is emitted from a bolt, and then subsequently modified later in the execute method coincident with Kryo serialization. We've seen this happen in a few p

[2015-07-26 11:21] jnioche commented on #164
When would fromSnapshot be needed? Would we have to change code to call .snapshot() every time we emit a Metadata? or can do that within Metadata so that it gets called by the serialization mechanism.

Ideally we'd want to find where in the code those Metadata instances survive the emission, because they shouldn't really.

[2015-07-26 23:03] jorgelbg commented on #164
+1 on finding where in the code this is happening, it would be very
helpful.

[2015-07-26 23:27] jakekdodd commented on #164
When converting an ImmutableMap to Metadata after using `tuple.getValueByField()`. The alternative would be to have `.snapshot()` return a defense copy of Metadata, and then we could do `Metadata metadata = (Metadata) tuple.getValueByField("md")` as usual. This would still be a mutable object, however.

Unfortunately, yeah =/

helpful.

Any time we emit metadata in a tuple, and then continue throu

[2015-07-27 07:54] jnioche commented on #164
What about having a poor-man's implementation of immutability so that the underlying implementation of the Map does not change - which IIUC would save us having to do fromSnapshot(). We could add a method to turn the Metadata into an immutable state (e.g. `lock()`) and call that prior just before we emit so that we'd get the exception not in the serialization process but in wherever the Metadata i

[2015-07-27 08:40] jnioche opened #165 "JsoupParserBolt : add config to prevent any outlinks from being sent"
The default JsoupParserBolt could be extended to implement an additional boolean field preventing any outlinks from being sent to the status stream at all.

The Tika based parser has such a mechanism => [parser.emitOutlinks](https://github.com/DigitalPebble/storm-crawler/blob/master/external/tika/src/main/java/com/digitalpebble/storm/crawler/tika/ParserBolt.java#L96).

[2015-07-27 15:06] jnioche commented on #160
Thanks
@DigitalPebble/committers-crawler anyone else?
Marking as 0.6

[2015-07-27 15:13] jnioche opened #166 "[external] SQL spout and status updater"
Small crawls don't necessarily need scalable storage and could fit within a SQL table.

We could have a spout and status updater to persist data to persist data to SQL. From my experience with Nutch this was something that many people tried to use (except it never got implemented correctly and the license of some of the components was not kosher for an ASF project).

We could reuse or extend the c

[2015-07-27 15:14] jakekdodd commented on #160
Yeah should be OK to remove it

[2015-07-27 15:24] jnioche commented on #160
done in [e088b7106d5f5b4b27c893e0a91d050c01d3168f]
thanks!

[2015-07-27 15:24] #160 closed

[2015-07-27 23:40] jorgelbg commented on #163
:+1: I don't see any reason not to release, I'm also on holiday so go ahead :smile:

[2015-07-31 20:48] jakekdodd commented on #164
https://storm.apache.org/apidocs/backtype/storm/task/OutputCollector.html

ctrl +f "The emitted values must be immutable." :smiley:

I'm not sure how the `lock()` mechanism would help us find the source of the problem. We would need to unlock the Metadata instance after Kryo has finished the serialization--how would we know when that happens?

We don't have to change the underlying implementation

[2015-08-13 09:05] ludovic-boutros opened #168 "NPE in function MetadataTransfert.filter()"
Hi,

the parameter 'metadata' can be null in the function MetadataTransfert.filter().
It throws a NPE later.

Just adding the test and returning 'md' fix this issue.

[2015-08-17 13:35] jnioche commented on #164
We would not unlock it. The idea is that the serialization would work fine but whichever part of the code still operates on the metadata after it has been sent to the output would get an immutable exception. This way we'd be able to fix the problem in the first place, which is simpler than adding the snapshot/fromSnapshot logic.

[2015-08-21 09:39] jnioche commented on #158
The SitemapParserBolt calls the ParseFilters too but does not generate a DOM which can result in a NPE. This has been addressed in [b0d6f59] but relies on needsDOM()

[2015-08-21 12:22] jnioche commented on #165
Was probably tired that day :-( we already have that
[https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/bolt/JSoupParserBolt.java#L119]

[2015-08-21 12:22] #165 closed

[2015-08-21 14:53] jnioche commented on #164
@jakekdodd I've just pushed a new branch called 164 which adds a lock mechanism to the Metadata and calls it in the JsoupParser whenever we emit a metadata. Could you please give it a try and see where you are getting UnsupportedOperationException?

Again, I'd prefer not to have to enforce the lock/unlock mechanism systematically but just fix the incorrect use of Metadata.

[2015-08-26 08:27] ludovic-boutros opened #177 "[External][Solr] The Solr storage should use 'autoSoftCommit' and 'autoCommit'"
Currently the Solr storage modules send hard commits to Solr.

I think this is not the good way to proceed.
These commits cause too much pressure on Solr. See the following screenshot.

![capture d ecran 2015-08-12 a 10 10 18](https://cloud.githubusercontent.com/assets/13764888/9488752/5a1f5b62-4bdc-11e5-82c4-ca2e59235618.png)

Instead, these modules should let Solr commit the documents with 'auto

[2015-08-26 09:44] #166 closed

[2015-08-26 13:07] jorgelbg commented on #177
I think the more generic approach could be make this an option in the configuration file? In some cases I've seen than relying only on autoCommit or autoSoftCommit can be "problematic" that's why the module issue a hard commit every now and then. What do you think?

[2015-08-26 15:47] ludovic-boutros commented on #177
Hi @jorgelbg,

I think that the usage of Solr in SC can be considered as a NRT use case.
In this type of use cases, I think explicit hard commits are not a good solution.

I really don't like having explicit commits in my code ;)

I've never had any bad experiences with autocommits, could you elaborate a bit please ?

Another solution could be to remove explicit hard commits and add a _commitWithi

[2015-08-26 16:03] jnioche commented on #177
@ludovic-boutros did you get an improvement to the perfs of the status updater by using soft commits?

I expected the commit strategy (auto|soft|hard) to be done entirely on the SOLR config side and not at all in the code. Is that required because the client buffers the docs to index? Isn't there another SOLR client implementation which has a max doc / max time parameter?

The current implementati

[2015-08-26 16:46] ludovic-boutros commented on #177
@jnioche I've tested with _commitWithin_ and it works quite well.
But I would prefer a strategy in the solrconfig file too.

I'm currently implementing this strategy:
- no explicit commit in the code
- autocommit, autosoftcommit in the solr config file

and I think I will test with a standard SolrHttpClient which will send synchronously the documents.
This way, it will be far easier to handle erro

[2015-08-26 17:03] jnioche commented on #177
Sounds good. Thanks
On 26 Aug 2015 17:46, "ludovic-boutros" <notifications@github.com> wrote:

[2015-08-26 17:59] jorgelbg commented on #177
@ludovic-boutros  In a separated project I've worked some time ago we had some troubles with the memory usage on the autocommit/autosoftcommit issue, this features works on a time/number of docs approach, since the length of the documents we were storing in Solr was changing a lot we faced some problems when configuring a low autocommit/autosoftcommint value caused the server to spent a lot of tim

[2015-08-26 20:45] jnioche commented on #177
@jorgelbg re-error handling \:I am talking about the StatusUpdater, not the indexing bolt.

I was thinking about CUSC but had not realised it was returned by `connection.getClient()`; for some reason I thought we could also specify a max time but that's probably me confusing with ES.

[2015-08-26 23:18] jorgelbg commented on #177
@jnioche Yes, ES does support this scenario, but not any Solr client I'm afraid.

About the error, you're right, sorry my bad! in the StatusUpdater the Exception is just logged, in this case I can throw a new `RuntimeException()` that will be caught by the `AbstractStatusUpdaterBolt`. The other way is not logging the exception at all at let it get caught directly by the `AbstractStatusUpdaterBolt`

[2015-08-27 07:53] ludovic-boutros commented on #177
@jorgelbg Hopefully I will be ready tomorrow for a PR. I will let you know if we need to create batches with something like a callback mechanism in order to acknowledge tuples correctly.

[2015-08-27 08:23] jnioche commented on #177
yes, we should have the same behaviour for both the StatusUpdater and the IndexingBolt.

[2015-08-27 08:26] jorgelbg commented on #177
Ok, I'll wait until @ludovic-boutros wraps things up and then we can review the PR, if thats ok. The module README file also needs to be updated to remove the `solr.TYPE.commit.size` configuration option, but thats easy :)

[2015-08-27 09:20] jnioche commented on #24
Have implemented the simple version I originally had in mind. See #178
We can of course add a more sophisticated one based on the discussions we had here later on; for now this does exactly the job for small vertical crawls.

[2015-08-27 09:20] #24 closed

[2015-08-27 09:21] jnioche commented on #168
@ludovic-boutros did you get the NPE after I reverted your PR? Would be good to find where we get a null metadata.

[2015-08-27 11:28] ludovic-boutros commented on #168
Not yet. I will try soon.

[2015-08-27 12:10] ludovic-boutros commented on #168
Ok I reproduce the issue while running the Solr seed injector example.
Will try to figure out what's wrong here.

[2015-08-27 12:12] ludovic-boutros commented on #168
It seems that the FileSpout emits null metadata...

[2015-08-27 13:24] jnioche commented on #168
So this would mean that [https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/bolt/URLPartitionerBolt.java#L69] should also check for the value of metadata. In the case you found we were emitting a field metadata but with a null value. I'll fix this.

[2015-08-27 13:32] jnioche commented on #168
@ludovic-boutros please close this issue if you are confident that the problem is now solved. Thanks

[2015-08-27 13:50] #168 closed

[2015-08-27 14:44] ludovic-boutros commented on #177
Ok, here is what I can observe now with a _HttpSolrClient_, auto commit and auto soft commit:

![capture d ecran 2015-08-27 a 16 30 54](https://cloud.githubusercontent.com/assets/13764888/9523366/f02bcdf4-4cd9-11e5-906e-f860b9a6fc4e.png)

It could require some tuning depending on the hardware/sharding.

I think we should not use the _ConcurrentUpdateSolrServer_ class because the updates are asynch

[2015-08-28 07:41] jnioche commented on #177
thanks @ludovic-boutros sounds great!

[2015-08-28 09:53] ludovic-boutros commented on #177
PR done.
Comments welcome ;)

[2015-08-28 14:39] jnioche commented on #163
No progress on #164, will postpone it to the following release.

#177 is the last item for 0.6

@DigitalPebble/committers-crawler anything else you think should be included?

[2015-09-01 17:31] jnioche commented on #177
@jorgelbg did you have a look at this?

[2015-09-01 21:17] #177 closed

[2015-09-04 14:31] ludovic-boutros opened #182 "Fix Solr module documentation (commit size parameter)"
The documentation of the Solr external storage module contains batch and commit size parameters.
They have been removed since the usage of autoCommit/autoSoftCommit in Solr.

[2015-09-04 14:48] ludovic-boutros opened #183 "Add bufferization in the Solr indexing process"
Currently, each document to be indexed is directly sent to Solr.
This allows a very easy acknowledgement mechanism of Storm tuples.

In order to improve the throughput, a bufferization mechanism could be implemented.

This mechanism should take in account:
- non-cloud and cloud modes.
- correct errors management and tuple acknowlegement.

[2015-09-04 16:17] jorgelbg commented on #183
I think we can extend the CUSC class, essentially this class does all the queuing for us, provides the threads to empty the queue as quickly as possible and provides a `handleError()` method that can be used to implement our own logic, by default this method only logs the error.

By default the CUSC client queue requests, meaning that if we keep 1 doc per request in the queue we can handle the cas

[2015-09-04 16:19] jorgelbg commented on #182
I'm going to commit the change to the README in the afternoon.

On Fri, Sep 4, 2015 at 10:31 AM, ludovic-boutros <notifications@github.com>
wrote:

[2015-09-04 17:00] ludovic-boutros commented on #183
So true. I think it does not worth it.

And it is not recommended to use CUSC with SolrCloud.
The improvements are on the Solr side I think.

[2015-09-15 11:20] #163 closed

[2015-09-15 11:21] jnioche opened #185 "WARC bolt"
We've been working on a WARC generator for Nutch lately, doing the same with SC should be quite straightforward.

[2015-09-18 10:33] jnioche opened #187 "Remove PrinterBolt and IndexerBolt.java"
[PrinterBolt](https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/bolt/PrinterBolt.java) is not as useful as [StdOutIndexer](https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/indexing/StdOutIndexer.java), which extends AbstractIndexerBolt and provides a similar functionality.

As f

[2015-09-18 19:37] jorgelbg commented on #187
:+1: on removing PrinterBolt, perhaps for testing purposes to do some sort of debugging could be helpful but this is very easy to implement if anyone need it.

 I agree that defining the configuration key is as easy as defining the right class in the topology, I would say even more logical, because you need to implement the topology class according to your needs and later on specify the FQDN in th

[2015-09-19 18:22] jnioche commented on #187
we have StdOutIndexer exactly for that purpose

close to never I'd think

It probably creates more confusion than anything else

thanks for your comments

[2015-09-20 10:44] jnioche commented on #47
We removed the metrics related code since.

[2015-09-20 10:44] #47 closed

[2015-09-20 10:46] jnioche commented on #182
@jorgelbg could you please amend the README file? Thanks!

[2015-09-21 20:08] jnioche commented on #182
Fixed in #189

[2015-09-21 20:08] #182 closed

[2015-09-22 14:57] jnioche commented on #187
We could add a simple bolt extending AbstractStatusUpdaterBolt, comparable to what StdOutIndexer does for the indexing. It would display the nextFetch Date for instance and would be useful for debugging. We can then remove the PrinterBolt

[2015-09-22 15:24] jorgelbg commented on #187
What I meant with the debug purposes was basically to take a peek into the data sent between bolts, the StdOutIndexer does a great job for debugging what gets indexed/persisted in your storage.

The alternative provided with a simple extending AbstractStatusUpdaterBolt looks like a great solution, although again since the PrinterBolt is so easy to implement perhaps the debugging thinking I was usi

[2015-09-23 15:06] jnioche opened #190 "AbstractIndexingBolt to use status stream in declareOutputFields"
We currently use StatusStreamBolt post-parsing to notify the status updater that a web page has been successfully processed, however there could be situations where the we have an indexing bolt (e.g. SOLR, ES or Cloudsearch) which could encounter an issue while processing the document. The tuple would be failed, however there is no guarantee that the status updater hasn't already updated the statu

[2015-09-24 09:44] jnioche opened #191 "[ElasticSearch] Compare ES module with storm-elasticsearch"
See [https://github.com/apache/storm/pull/573]

[2015-09-24 09:45] jnioche commented on #191
and also the SOLR connector [STORM-851]

[2015-09-24 09:56] jnioche commented on #187
@jorgelbg see [https://issues.apache.org/jira/browse/STORM-954] in the upcoming 0.11.0. This would be a nicer way of having a generic debugger than the PrinterBolt

[2015-09-24 09:57] jnioche opened #192 "[SOLR] Compare SOLR module with one from Storm and Lucid"
SOLR connector [apache/storm#665]

@jorgelbg did you know about that?

[2015-09-24 09:58] jnioche commented on #191
So now there is a library from Elastic + one from Storm + ours ?!?!?

[2015-09-24 10:13] jnioche commented on #187
Implemented in [56e19ea7b60389bb2acd07b59caa32dd28a31290]

[2015-09-24 10:13] #187 closed

[2015-09-24 11:51] ludovic-boutros commented on #192
The main differences I can see at first glance are:
- I like the commit strategy abstraction and the ack management (A batch is acked (or not) in globality)
- I do not like the fact that only hard commit seems to be used (This should be configurable)

[2015-09-24 15:22] jorgelbg commented on #192
I didn't know about this, looks very interesting on a more closer look:

* Only provide support for SolrCloud and no way of using a non distributed Solr server
* Provide an abstraction/mapping layer that use some endpoints to fetch the Solr schema
* The implemented commit strategy is based on a document count threshold
* The ack/fail mechanism uses a queue when the commit is issued against Solr, t

[2015-09-25 09:58] jnioche opened #193 "Add default config file in resources"
We currently have a class listing some of the constants and an [example of conf file](https://github.com/DigitalPebble/storm-crawler/blob/master/core/crawler-conf.yaml) for users to use at runtime.

It would be good to have a default config file in the resources which would be used to list all the known configs as well as their default values. This would get loaded automatically  when using a [Con

[2015-09-27 16:59] jnioche opened #194 "Ack tick tuples"
According to [http://www.michael-noll.com/blog/2014/09/15/apache-storm-training-deck-and-tutorial/] slide 85 - tick tuples must be acked.

 This should be done in [https://github.com/DigitalPebble/storm-crawler/blob/20890f11a6ca02ce37c1d56134637191716428d3/core/src/main/java/com/digitalpebble/storm/crawler/bolt/FetcherBolt.java#L777] and [https://github.com/DigitalPebble/storm-crawler/blob/ffecc00

[2015-09-28 09:07] jnioche commented on #194
Fixed in [ef5197a]]

[2015-09-28 09:07] #194 closed

[2015-10-01 03:56] jorgelbg commented on #193
+1 I don't see any reason not to have this, it would make things even easier to understand where the default value is coming for a given setting.

[2015-10-06 11:50] jnioche opened #196 "FileSpout chokes on very large files"
Instead of loading everything into memory it could buffer lines and read only when needed.

[2015-10-08 10:11] jnioche commented on #97
[https://readthedocs.org/]?

[2015-10-08 10:41] jnioche opened #197 "[ElasticSearch] store metadata as structured object"
We currently put everything into a single line with tab separated values but could use a map of objects which would allow to query on the metadata values.

[2015-10-08 13:20] jnioche opened #198 "[ElasticSearch] Spout one instance per ES shard"
[22e06aa1] added a check that throws an exception if more than one spout instance is created

we might want to have more than once instance but get each instance to connect directly to a given ES shard. The number of shard could be detected automatically instead of being set manually.

[2015-10-08 14:08] jnioche opened #199 "Use Maven-Shade everywhere"
I got into an issue when using a jar built with the maven-assembly-plugin. We should check that shade is used everywhere.

[2015-10-09 13:17] #199 closed

[2015-10-12 21:07] jnioche commented on #197
Doesn't have to be a nested object but could simply be the use of a common prefix e.g. 'metadata' with [dynamic mapping](https://www.elastic.co/guide/en/elasticsearch/guide/current/custom-dynamic-mapping.html)

[2015-10-13 10:20] jnioche commented on #198
See [https://github.com/elastic/elasticsearch-hadoop/blob/master/storm/src/main/java/org/elasticsearch/storm/EsSpout.java#L118]

[2015-10-13 13:15] jnioche commented on #196
thanks @mattburns

[2015-10-13 13:15] #196 closed

[2015-10-13 14:16] jorgelbg commented on #196
I took a shot at this issue but using `FileUtils.lineIterator` from commons-io instead https://github.com/jorgelbg/storm-crawler/commit/e088a2560da7b4bb1c78ed4f151d0b6add24ad9b

[2015-10-13 15:00] jnioche commented on #197
First version in
[metadataAsMap c0a7da3] store metadata as structured object

Need to find how to define properties for any field within the 'metadata' object.

[2015-10-13 20:30] jorgelbg commented on #197
With the current implementation the metadata gets indexed as an `object` field if we rely on dynamic mapping right? At least looks that way on a small test I did:

[code]

couldn't this cause some sort of error if the values in the `metadata` object are multivalued? as described in [object arrays](https://www.elastic.co/guide/en/elasticsearch/guide/current/complex-core-fields.html#object-arrays) a

[2015-10-13 21:14] jnioche commented on #197
@jorgelbg the metadata values are backed by an array

[code]

so this will be fine when there are multiple values.

Having a nested would be an overkill I think.

I don't think so. Apparently there is a  `path_match` which we could use with e.g. `metadata.*` as a value so that we could make those fields indexable but not analysed nor stored.

This should be a lot better than the current storage we

[2015-10-13 21:55] jorgelbg commented on #197
@jnioche Indeed is a lot better than before.

Actually using the default `object` type give some "flat" object style, for instance, in the document I posted, I can issue a query against a `metadata.depth` or `metadata.url.path`, taking a closer look on [inner objects](https://www.elastic.co/guide/en/elasticsearch/guide/current/complex-core-fields.html#_how_inner_objects_are_indexed) shows that bas

[2015-10-14 16:19] jnioche commented on #86
Implemented gauges in [8ccd8a64115cdf7d823b7bd2bde3510d77e88a25] with a better mechanism.

[2015-10-14 16:19] #86 closed

[2015-10-15 13:18] jnioche commented on #193
Implemented in [22d7e19]

[2015-10-16 08:18] #193 closed

[2015-10-21 10:02] jnioche commented on #136
That library is really geared towards the Codahale one, probably easier just to keep using ours.

[2015-10-21 10:02] #136 closed

[2015-10-21 10:06] jnioche commented on #197
Implemented in #201

[2015-10-21 10:06] #197 closed

[2015-10-21 10:13] jnioche commented on #191
That library currently doesn't have a spout we could use or a metrics handler. It has resources for Trident - which we don't need.

It has some test classes we could take as example to run a dummy ES index.

[2015-10-21 10:16] jnioche opened #202 "Change Status to ERROR when FETCH_ERROR above threshold"
Should be done in the [AbstractStatusUpdaterBolt](https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/persistence/AbstractStatusUpdaterBolt.java) post filtering of metadata (so that the corresponding key value gets written without having to configure it) and before the scheduler is called (so that the backend gets the right value).

[2015-10-22 13:01] #202 closed

[2015-10-23 13:09] jnioche commented on #190
Implemented in [b1363b0]

[2015-10-23 13:09] #190 closed

[2015-10-23 13:11] jnioche opened #204 "Release 0.7"
@DigitalPebble/committers-crawler any objections? Anything you think we should include?

[2015-10-29 15:41] jnioche opened #205 "URL normalisation : Illegal character in query"
[code]

Ideally these URLs should be normalised to be URI compatible. In the meantime we could add a basic URL filter which tries to convert them into URIs and discards them if that throws an exception.

[2015-10-29 17:38] jnioche opened #206 "HTTP protocol should allow to limit amount of content fetched"
The previous implementation we had which was taken from Nutch could do that but not the one we currently have. This is useful for cases where the URL points to a multimedia stream for instance.

[2015-10-29 17:50] kkrugler commented on #206
By "limit content fetched" do you mean it shouldn't fetch content that has a mime type other than ones of interest? Or is there some multi-part content where you want to skip pieces of the content stream?

[2015-10-29 17:52] jnioche commented on #206
Simply that it should stop fetching past a given byte length, similar to what `http.content.limit` does in Nutch.

[2015-10-29 17:54] kkrugler commented on #206
For the SimpleHttpFetcher in bixo (not sure about what's in crawler-commons) we have a default limit, and a per-mime type limit. That way you can avoid truncating binary content (like PDFs, Word docs, etc) where the parser will choke if the content is truncated. That still leaves the issue of gzipped content, where truncation also causes a problem

[2015-10-29 18:00] jnioche commented on #206
Makes sense to truncate per mime type indeed. I can see how you do that in [https://github.com/bixo/bixo/blob/master/src/main/java/bixo/fetcher/SimpleHttpFetcher.java#L460].
Doing that indiscriminately would be good enough for now, ideally without having to hack the HttpClient code too much.

[2015-10-29 20:19] jorgelbg opened #207 "Store the metadata field in the status collection to be searchable"
Similar to #197 #201 but for Solr, in this case since Solr have a different approach to nested objects/documents, perhaps a better approach could be to flatten the metadata field using a prefix, combined with a dynamic setting?

Thoughts on this are welcome, I think that using nested documents could be an overkill, plus since Solr doesn't "hide" the child documents the status collection will be pa

[2015-10-29 20:20] jorgelbg commented on #206
+1

[2015-10-29 21:19] ludovic-boutros commented on #207
@jorgelbg That would be great. I also agree with the flattening of the metadata.

[2015-10-30 08:15] jnioche commented on #207
+1 thanks!

[2015-10-30 10:25] jnioche opened #208 "FetcherBolts do not handle malformed URLs properly"
FetcherBolt neither acks nor fails tuples containing a malformed URL; it does not generate a tuple with an error status on the status stream either.

SimpleFetcherBolt acks the tuples but does not generate a tuple with an error status on the status stream.

I've written a test case to illustrate this and will commit it alongside a fix.

[2015-10-30 10:56] jnioche commented on #208
Fixed in [66e8747fca40c4fee579b1f8379d21f16c663f70] and previous commit

[2015-10-30 10:56] #208 closed

[2015-10-30 13:47] jnioche commented on #207
@jorgelbg shall we mark it for release 0.7?

[2015-10-30 14:39] jorgelbg commented on #207
@jnioche yes sure! I'll submit a PR later today

[2015-10-31 11:50] #207 closed

[2015-11-03 15:28] jnioche commented on #204
Done.

[2015-11-03 15:28] #204 closed

[2015-11-04 14:54] jnioche opened #211 "Discover sitemap files automatically from robots.txt"
We already have resources to process sitemap files but at the moment these URLs must be either used as seed or generated e.g. by custom parsefilters.  We could have an option to discover them automatically from the robots.txt files.

The Fetcher bolts [https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/bolt/FetcherBolt.java#L436] already a

[2015-11-05 21:47] jiangyt opened #212 "Fails run CrawlTopology with java.lang.NoClassDefFoundError: org/w3c/dom/ElementTraversal"
Hi,
I just clone the repository, followed the guide to run the topology in local cluster, but unluckily failed with following exceptions

7493 [Thread-22-sitemap] ERROR backtype.storm.util - Async loop died!
java.lang.NoClassDefFoundError: org/w3c/dom/ElementTraversal
        at java.lang.ClassLoader.defineClass1(Native Method) ~[na:1.7.0_80]
        at java.lang.ClassLoader.defineClass(ClassLoade

[2015-11-06 10:32] jnioche commented on #212
Thanks @jiangyt.  This is strange, this class should be available as a dependency of Xerces.

Which command did you run to start the topology?

java -version? Did you install Storm on your machine?

[2015-11-07 08:53] jiangyt commented on #212
Hi @jnioche  here's my environments

java -version
<pre><code>java version "1.7.0_80"
Java(TM) SE Runtime Environment (build 1.7.0_80-b15)
Java HotSpot(TM) 64-Bit Server VM (build 24.80-b11, mixed mode
</code></pre>

runs in local mode, havn't installed Storm
<pre><code>mvn clean compile exec:java -Dstorm.topology=com.digitalpebble.storm.crawler.CrawlTopology -Dexec.args="-conf crawler-conf.yaml -

[2015-11-07 09:49] jnioche commented on #212
I can't reproduce the issue at all. What OS and version of Maven are you on?

[2015-11-07 10:06] jiangyt commented on #212
Apache Maven 3.0.5 (r01de14724cdef164cd33c7c8c2fe155faf9602da; 2013-02-19 21:51:28+0800)
Maven home: /usr/local/maven
Java version: 1.7.0_80, vendor: Oracle Corporation
Java home: /opt/software/jdk1.7.0_80/jre
Default locale: en_US, platform encoding: UTF-8
OS name: "linux", version: "2.6.32-573.3.1.el6.x86_64", arch: "amd64", family: "unix"
OS: Red Hat Enterprise Linux Workstation release 6.7 (Sa

[2015-11-07 10:23] jnioche commented on #212
Could you delete the Maven cache (e.g. ~/.m2/repository/) and try again?

On 7 November 2015 at 10:06, Yitao Jiang <notifications@github.com> wrote:

--

* Open Source Solutions for Text Engineering   http://www.digitalpebble.com
<http://www.digitalpebble.com>*
*http://digitalpebble.blogspot.com <http://digitalpebble.blogspot.com/>*
https://twitter.com/digitalpebble

[2015-11-07 10:41] jiangyt commented on #212
yeah, it works. Thank you.

[2015-11-07 10:41] #212 closed

[2015-11-11 14:31] jnioche opened #213 "[SOLR] Check that not more than one instance of the Spout exists"
Similar to what we do in [ElasticSearchSpout](https://github.com/DigitalPebble/storm-crawler/blob/master/external/elasticsearch/src/main/java/com/digitalpebble/storm/crawler/elasticsearch/persistence/ElasticSearchSpout.java#L118). Having more than one instance of the SOLR Spout would potentially send the same URLs down the topology more than once.
Later on we could enforce sharding based on hostna

[2015-11-11 15:40] jnioche commented on #205
See [PR in CC](https://github.com/crawler-commons/crawler-commons/pull/106)

[2015-11-11 15:43] jnioche opened #214 "[ElasticSearch] Kibana visualizations aggregated per host"
It would be useful to get the average pages fetched per sec and average bytes per sec aggregated per host.
it is currently done per instance of the fetcher (whether it is a SimpleFetcherBolt or FetcherBolt), having that per machine would make more sense

[2015-11-12 21:48] jnioche commented on #97
It would be good to have a specific website for storm-crawler, similar to \:
\[INSERT SHINY EXAMPLES HERE\]

The site could be hosted on GitHub and consist of static pages generated with \:
* [Bootstrap](http://getbootstrap.com/)
* [Middleman](https://middlemanapp.com)
\[INSERT TRENDY FRAMEWORK HERE\]

[2015-11-13 09:03] jnioche opened #215 "Provide a Maven Archetype"
This would make it easier for new users to bootstrap a new crawler from a simple template. The archetype would generate \:
* a pom file with all the minimal dependencies needed by SC
* a simple configuration file
* url and parse filter configuration files
* an example topology class

See [https://maven.apache.org/guides/mini/guide-creating-archetypes.html] for instructions.

[2015-11-16 19:58] jorgelbg commented on #213
This sounds great! I see one additional outcome, since we'll have 1 spout per shard we can add the ability to also use this shard keys for routing withing SolrCloud. We discussed about this some time ago, and even if SolrCloud does the routing automatically, this could be useful on some cases.

[2015-11-17 13:44] #213 closed

[2015-11-17 14:42] jnioche opened #216 "StatusUpdaterBolts must be able to ack/fail explicitly"
The class [AbstractStatusUpdaterBolt](https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/persistence/AbstractStatusUpdaterBolt.java) currently acks each tuple after calling the store method. Some implementations e.g. ElasticSearch one have a buffering client which means that we don't know instantly whether an update has succeeded or failed

[2015-11-17 22:17] jnioche opened #217 "Replace isTickTuple()"
and use the generic storm-core/src/jvm/backtype/storm/utils/TupleUtils.java class instead

[2015-11-18 11:50] jnioche commented on #217
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.2:compile (default-compile) on project storm-crawler-core: Compilation failure: Compilation failure:
[ERROR] /data/storm-crawler/core/src/main/java/com/digitalpebble/storm/crawler/bolt/FetcherBolt.java:[67,28] cannot find symbol
[ERROR] symbol:   class TupleUtils
[ERROR] location: package backtype.storm.utils
[ERROR] /

[2015-11-18 16:00] jnioche opened #218 "Change groupId in pom.xml"
We currently use `<groupId>com.digitalpebble</groupId>`

but according to [https://maven.apache.org/guides/mini/guide-naming-conventions.html] this should be used to 'identify your project uniquely across all projects'.

We should probably use something like  `<groupId>com.digitalpebble.stormcrawler</groupId>`  or `<groupId>com.digitalpebble.storm-crawler</groupId>` instead.

If so what should we

[2015-11-19 09:25] ludovic-boutros commented on #218
Apache Camel repeats 'camel' for the different modules and I like it.

[2015-11-19 10:11] jnioche commented on #218
@ludovic-boutros thanks. storm do that for the external modules too.

I am leaning towards using 'stormcrawler' instead of 'storm-crawler' in both the groupid and artefactid - any thoughts on this?

[2015-11-22 18:49] rkrombho opened #219 "JsoupDOMBuilder not copying in-line JavaScript and CSS Styles"
The Method `com.digitalpebble.storm.crawler.parse.JSoupDOMBuilder.createDOM` does not copy data from JSoup DataNodes (http://jsoup.org/apidocs/org/jsoup/nodes/DataNode.html) into the resulting DOM.

This causes the resulting DOM to not contain any JavaScript of in-line CSS Style text.
This prevents ParseFilters from being able to analyze contents of `script` tags.

[2015-11-24 09:35] jnioche commented on #219
Thanks @rkrombho. Do you have a patch for this or a unit test we could use?

[2015-11-24 19:53] rkrombho commented on #219
Yes, will raise a pr when I find the time

[2015-11-26 10:45] jnioche commented on #215
@jakekdodd just wanted to bring this to your attention as you'd expressed an interest before

[2015-11-26 17:55] jnioche commented on #97
[http://digitalpebble.github.io/storm-crawler] is now live and hosted by GitHub, the content is in the branch  [gh-pages](https://github.com/DigitalPebble/storm-crawler/tree/gh-pages)

[2015-11-27 08:47] jnioche opened #221 "[Elasticsearch] upgrade to version 5"
Amazon Elasticsearch does not support the native protocol and requires a REST based client like [Jest](https://github.com/searchbox-io/Jest). It would be good to have that as well

[2015-11-27 12:09] w0mbat opened #222 "MaxDepthFilter not considered correctly?"
Hey folks,

I cloned the repo, set the MaxDepthFilter to 10 and removed all urls from RandomURLSpout but one. Afterwards I started the Topology locally and expected to discover the urls and crawl the site until maxDepth of 10 is reached or no new URLs are available.

But what I see is that it only crawls the first page and then I see no more crawling activity.

Any thoughts?

[2015-11-27 12:24] jnioche commented on #222
Hi @w0mbat

That's normal.  In the example [CrawlTopology](https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/CrawlTopology.java) the StdOutStatusUpdater just dumps the URLs discovered to the standard output. They do not get added to the Spout.

In a real life topology you'd use an external storage e.g. Elasticsearch, MySQL, RabbitMQ etc..

[2015-11-27 13:40] w0mbat commented on #222
Hey @jnioche

Thanks for the quick feedback!
I quickly hacked on the proposed solution and yes, it works!
Sure, its currently only to see how things are playing together and whats possible!

Best

Daniel

[2015-11-27 13:40] #222 closed

[2015-11-27 13:42] jnioche commented on #222
cool. Feel free to send a PR if you could spare the time. It would be a useful feature

[2015-11-27 14:05] jnioche commented on #217
The class is not in the 0.9.6 jar but in the 0.10.0 one. We should be able to make that change once we move to the latter.

[2015-11-27 14:43] jnioche commented on #211
Implemented in [92f9701]

[2015-11-27 14:43] #211 closed

[2015-12-03 13:46] jnioche commented on #218
[master d349dc2] Change groupId in pom.xml #218

[2015-12-03 13:46] #218 closed

[2015-12-16 13:58] GasparPizarro opened #226 "[status] subscribes from non-existent stream: [status] of component [index]"
I'm working with storm-crawler-core-0.8-SNAPSHOT and storm-crawler-solr-0.6 and cannot plug the status bolt with the indexer bolt through the `StatusStreamName` stream, even though the code in AbstractIndexerBolt says

    declarer.declareStream(com.digitalpebble.storm.crawler.Constants.StatusStreamName, new Fields("url", "metadata", "status"));

I'm receiving this error:

    backtype.storm.daemo

[2015-12-16 14:47] jnioche commented on #226
storm-crawler-solr-0.6 is not compatible with the change in AbstractIndexerBolt [https://github.com/DigitalPebble/storm-crawler/issues/190]. You should use storm-crawler-solr-0.8-SNAPSHOT instead

[2015-12-16 15:13] #226 closed

[2015-12-16 16:46] jnioche commented on #226
@GasparPizarro

BTW MongoStatusUpdater should also subscribe to the tuples on status stream coming from the Fetcher, you'll never get notified of redirections otherwise

[2015-12-17 14:10] jnioche commented on #185
The WARC files should probably be generated on HDFS, see [https://github.com/apache/storm/tree/master/external/storm-hdfs]

[2015-12-17 14:40] jnioche opened #227 "Remove configuration resources from core module"
A new project can be generated using the [archetype](https://github.com/DigitalPebble/storm-crawler/tree/master/archetype) or by copying the files from there manually. We don't need the config elements in core, these would be specified by the user or generated by the archetype.

Note \: crawler-default.yaml would remain in core to provide default values.

This would also fixe #61 as well.

[2015-12-17 14:40] jnioche commented on #215
Next step : remove the resources and config file from core altogether. A new project can be generated using the archetype or by copying the files from there manually. See #227

Closing for now.

[2015-12-17 14:40] #215 closed

[2015-12-18 13:32] jnioche opened #228 "Deactivate _all field for status and metrics indices"
The catch all field is more useful for textual content e.g. coming from documents but not so much for the status and metrics indices.

Disabling it should reduce the size of the indices on disk.

[https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-all-field.html#disabling-all-field]

[2015-12-24 08:59] jnioche opened #229 "Move to Storm 0.10.0"

[2016-01-07 13:01] mattburns opened #230 "Custom priority"
Allow a config setting to use a custom priority field instead of nextFetchDate or random. For example, you could choose the field in the status index you wish to sort by. Something like `es.status.custom.sort: "priority"`

That way, when you populate the status index, you can just thing to the front of the queue by setting their priority to `1`.

As a happy side effect, this can solve the current

[2016-01-08 11:08] #228 closed

[2016-01-12 15:30] jnioche commented on #198
Implemented in #232

[2016-01-14 10:57] jnioche commented on #158
The fix in [b0d6f59] is actually quite problematic. Originally `needsDOM()` was merely an optimisation aimed at avoiding the cost of building the DOM if no parse filters needed it.  This meant 'the parsefilter might need a DOM so please provide one' which is not the same as 'this parsefilter _needs_ a DOM' as implied by [b0d6f59].

We could remove the whole thing and instead let the users specify

[2016-01-20 13:23] jnioche opened #233 "Field collapsing in ES Spout"
The ES Spout currently sorts per _nextFetchDate_ which offers very few guarantees regarding the diversity of hosts retrieved by the queries. This is improved by randomizing the results, however the latter has an impact on the memory used by ES for the field caching. Limiting the field caching leads to poor performance  and the eviction mechanism slows the queries quite a lot.

A more natural solut

[2016-01-21 15:13] jnioche opened #235 "SitemapParser fails when server returns Content-Type: application/octet-stream"
e.g. [https://vimeo.com/sitemap/master.xml.gz]

This is due to the way crawler-commons handles the mime-types when given explicitly. Instead we should a) modify CC so that we can pass the mimetype as a hint or b) when it is an octet-stream call the CC method which does the detection with Tika.

[2016-01-21 15:23] jnioche commented on #229
Done in #220

[2016-01-21 15:23] #229 closed

[2016-01-21 15:45] #235 closed

[2016-01-21 15:56] #217 closed

[2016-01-26 12:06] jnioche commented on #205
[code]

[2016-01-27 09:30] #198 closed

[2016-01-27 10:53] #45 closed

[2016-01-28 12:14] jnioche opened #239 "Indexers use canonical URL for the status"
This is due to an incorrect use of the method AbstractIndexerBolt.valueForURL() which causes some of the indexers to send the canonical URL for the status. As a result the original URL never gets updated and keeps being refetched over and over.

FYI @ jorgelbg see 1ef9cc16a92ed8950

Note this affects the SOLR, Elasticsearch and CloudSearch indexers.

[2016-01-28 12:24] #239 closed

[2016-01-28 12:25] #233 closed

[2016-01-28 13:00] jnioche opened #240 "MemorySpout does not work in distributed mode"
but is fine locally

[2016-01-29 10:53] jnioche commented on #37
Will close for now. Redirections can be handled within the protocol implementations if necessary. Better just to treat them with the default behaviour and go through the status stream anyway as the targets might already be known. Keeps the code simpler as well.

[2016-01-29 10:53] #37 closed

[2016-01-29 10:58] jnioche commented on #54
@eshioji I never got to investigate this in more details. The codebase has since evolved an awful lot. From your earlier comments you mentioned that there wouldn't be much gain in using async, is that still what you think? If so shall we close this issue?

[2016-01-29 13:04] jnioche opened #242 "ES Metrics : name field does not need to be analysed"
[https://github.com/DigitalPebble/storm-crawler/blob/master/external/elasticsearch/ES_IndexInit.sh#L72]

[2016-01-29 13:13] jnioche opened #243 "FetcherBolts : add counter for bytes fetched"
which is not an average per doc nor an average per sec

[2016-01-31 16:23] #242 closed

[2016-02-03 12:31] mattburns opened #246 "Reduce metrics chatter"
When writing metrics to Elasticsearch, the index can get big enough to affect performance of Elasticsearch. Here are my thoughts on things that may help reduce the burden on Elasticsearch:

1. Log fewer stats
  1. Configurable (crawler-conf) whitelist/blacklist of metric names?
  1. Maybe just skip writing of internal ones (starting with "__") used by storm-ui.
1. Log less frequently
  1. Configur

[2016-02-03 13:08] jnioche commented on #246
Black/whitelist would be a good initial approach, followed by configurable per component update frequency.
I am less keen on the regular pruning of the DB too. Having 2 indices fine vs coarse would be tricky as for pruning this is pretty much what _ttl does. Since we are on ES 1.x for now we can just use it. Later on we could indeed look at index-per-timeframe.

I expect that the more bolt instanc

[2016-02-03 13:38] mattburns commented on #246
Agreed.
Your thoughts about the SimpleFetcherBolt highlight a good point. For instance, I've configured my `fetcher_counter.fetched` metric to bucket into 30 second intervals. If there was one bolt, I would have 20 metrics written in a 10 minute period. However, I have 200 fetcher tasks and therefore I get ~4000. I can't just multiply the interval by the number of fetchers because they all stay in

[2016-02-05 21:54] jnioche opened #249 "Sitemap : add option to filter out URLs older than give threshold"
For instance if we know that a sitemap will be revisited daily, we could reduce the number of discovered URLs sent to the status bolt if they haven't been revisited in the last 24 hours.

[2016-02-09 16:35] #246 closed

[2016-02-09 16:36] jnioche commented on #246
@mattburns what about being able to configure the metrics frequency per component? Would this still be useful and if so should we reopen this issue?

[2016-02-09 17:14] mattburns commented on #246
Yeah, that would be very useful. The following code is in the SimpleFetcherBolt:

[code]

The `10` be configurable, but there should be also be a way for eventCounter to be shared across all bolts of this type rather than each bolt constructing its own?

[2016-02-09 21:04] jnioche commented on #246
The counter could be shared by being a static field however this would not be across all bots, just the ones that live in the same JVM. Moreover I think it makes sense to be able to get the stats per instance.

Will make the change for configuring the time for the SimpleFetcherBolt only as it is likely to be the component we use the most instances of.

[2016-02-09 21:19] mattburns commented on #246
Ok, cool, per JVM would be fine :)

[2016-02-09 21:34] jnioche commented on #246
We can now configure how often the metrics will be generated for both flavours of FetcherBolts.
`fetcher.metrics.time.bucket.secs: 10`

@mattburns - nope. I'd rather keep the info per instance ;-)

[2016-02-09 21:42] jnioche commented on #243
[master ec233c1] FetcherBolts : add counter for bytes fetched #243

[2016-02-09 21:42] #243 closed

[2016-02-09 21:46] jnioche commented on #104
Implemented in #245

[2016-02-09 21:46] #104 closed

[2016-02-09 21:48] jnioche commented on #54
Closing as there seems to be little interest in this.

[2016-02-09 21:48] #54 closed

[2016-02-12 16:03] jnioche commented on #191
storm-elasticsearch does not use bulkprocessor

[2016-02-12 18:32] jnioche opened #252 "Remove links to self"
Some pages contain links to themselves. We could have a URLFilter to deal with those.
Similarly if a page contains the same outlink (maybe with different anchors), we should send them down the topology only once.

[2016-02-13 10:02] jnioche opened #253 "Delete gone pages from index"
Conceptually it is not the same as an ERROR status - which occur for instance when a document is not parsable or has something wrong with it.
A document could become GONE if it has had N consecutive FETCH_ERRORS or if the server returned a HTTP code 410. A GONE document could be revisited based on the scheduling but should be deleted in an index.

[2016-02-16 12:08] jnioche commented on #249
Implemented in 96834eb

[2016-02-16 12:08] #249 closed

[2016-02-20 11:22] jnioche opened #259 "ES config to accept multiple addresses at host:port format"
The TransportClient can be configured with multiple transport addresses, our configuration patterns should allow that e.g.

[code]

[2016-02-20 11:27] jnioche opened #260 "ES use NodeClient only if no address is specified"
We currently use the NodeClient if the hostname is localhost however it would be better to use it only if no address is specified. The ES cluster could be reachable even if no nodes are on localhost. We might also want to use the TransportClient even if the ES instance is running on localhost.
This should make things cleaner and easier to understand

[2016-02-20 16:03] #260 closed

[2016-02-25 22:16] jnioche commented on #252
The JSoupParserBolt already dedups outlinks.

[master 263294a] Added SelfURLFilter#252

[2016-02-25 22:16] #252 closed

[2016-02-26 10:17] jnioche commented on #230
Added es.status.sort.field: "nextFetchDate" for ElasticSearchSpout
AggregationSpout could already sort within a bucket with `es.status.bucket.sort.field: "nextFetchDate"`

[2016-02-26 10:17] #230 closed

[2016-02-26 10:40] w0mbat commented on #96
Yes this sounds good to me - we could need this in our analysis platform. How would you like to store this information in the metadata?

[2016-02-26 10:43] w0mbat commented on #216
I also experienced the problem in the last couple of days where we had some connection issues with ES and the tuples were gone

[2016-02-26 10:48] jnioche commented on #216
you mean they'd been acked regardless of whether the ES indexing has succeeded? Maybe try the branch in #241

[2016-02-26 11:52] w0mbat commented on #216
@jnioche yes, they were acked although indexing failed. Thanks - Will try later

[2016-02-26 13:19] #206 closed

[2016-02-26 17:49] jnioche opened #262 "AggregatedSpout to filter in the past"
The AggregatedSpout struggles on larger shards when there are hundreds of millions of docs which all satisfy the nextFetchDate query e.g. they've all been injected at the same time. This is due to the fact that the aggregation and counts of hits per bucket has to operate on an extremely large number of docs.

Instead of filtering on nextFetchDate < NOW, we could get the lowest value for nextFetchD

[2016-03-02 07:37] #216 closed

[2016-03-02 07:39] jnioche commented on #262
Not an ideal solution as this could harm the diversity of URLs.
The [sampler aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-sampler-aggregation.html) in ES 2.x is a more promising approach

[2016-03-02 07:39] #262 closed

[2016-03-03 11:56] jnioche commented on #205
Implemented basic mechanism in 04eec35 using the code from crawler-commons (which took it from Nutch)

[2016-03-03 11:56] #205 closed

[2016-03-03 12:29] jnioche commented on #120
[c9d0f01] lowercases the protocol and hostname
[3aa3391] URI normalise

[2016-03-03 12:29] #120 closed

[2016-03-03 12:32] #97 closed

[2016-03-10 12:06] jnioche opened #265 "Limit size of the Robots cache"
We currently use an unbounded Hashtable, if the crawl lasts for a long time and hits many different hosts this might lead to an OOME. Best to use a proper LRU cache with a limited number or entries and/or TTL. This would have the advantage that if a change happens to the robots.txt we'd get the newer version instead of using the old one over and over.

[2016-03-10 14:35] jnioche commented on #265
Fixed in [master 9888de1]

[2016-03-10 14:35] #265 closed

[2016-03-10 15:35] jnioche commented on #227
Removing the configuration files from core causes some tests to fail. Postponing this issue.

[2016-03-10 16:30] jnioche commented on #240
Pretty simple actually \: see [https://groups.google.com/d/msg/storm-user/N4xoNJIUHiw/tRnxR7lqrfYJ]
The bolts are created locally then serialized. The static field probably doesn't get serialized, so instead we should use a non-static field with the constructor and populate the static field within the open method.

[2016-03-10 16:40] #240 closed

[2016-03-10 16:41] #191 closed

[2016-03-16 11:43] smirnp commented on #1
I have the same problem while debugging and submitting topologies locally on Windows 8.1.
Doing
new File("storm-starter-2.0.0-SNAPSHOT.jar!/resources").exists()
new File("storm-starter-2.0.0-SNAPSHOT.jar!\resources").exists()
gives false, while
new File("storm-starter-2.0.0-SNAPSHOT.jar").exists() gives true.
On linux everything is ok.

[2016-03-17 14:06] jnioche opened #266 "Add option to JSoupParser to pass non-HTML docs to the default stream"
In the current version the JSoupParserBolt sends an ERROR tuple to the status stream, instead we could have an option to pass documents it cannot parse to the default stream so that another parser implementation can have a go. This would be useful e.g. to chain the JSoup parser - which generates a good DOM for XPath extraction, with the Tika one which gives rubbish DOM but can handle all sorts of

[2016-03-17 14:13] #266 closed

[2016-03-18 11:42] mattburns opened #267 "Allow other links to be considered outlinks"
Our crawler is focussed on finding images. It would be nice if it were possible to optimise for this.

Currently if the following html is parsed, only `image1.jpg` will be added to the status queue:

[code]

It would be nice if I could specify a config, or a custom parse filter, etc so that all images found in the `img[src]` attribute are added to the status queue as well so that the above example

[2016-03-22 13:30] jnioche commented on #267
Could be done as a ParseFilter with the XPath expressions specified in the YAML config. This would have the advantage of working for JSoup but also potentially for the Tika based parser.

[2016-03-23 11:46] jnioche commented on #227
Done in #4292e91

core now has no URL or ParseFilters loaded by default, nor does it have an example of Topology. This will prevent confusion about what it used and overridden when building the uber jars.

[2016-03-23 11:46] #227 closed

[2016-03-23 11:46] jnioche commented on #61
Done in #4292e91, see #227

[2016-03-23 11:46] #61 closed

[2016-03-24 09:16] jnioche commented on #192
There is also one from Lucid [https://github.com/lucidworks/storm-solr]

[2016-03-24 10:50] jnioche opened #269 "Specify name of the topology via config"
could be done in the config file and/or using the standard -c option on the command line.

Storm uses [topology.name](https://github.com/apache/storm/blob/master/storm-core/src/jvm/org/apache/storm/Config.java#L1977) after the topology has been submitted. We could use the same value before submitting it?

[2016-03-24 12:23] jnioche opened #270 "ES AggregationSpout sort buckets by oldest nextFetchDate"
It currently sorts the buckets by the number of results they contain. While this works fine on crawls where the number of URLs is limited, it can turn into a vicious circle \: some domains get larger and larger while many never get fetched at all.

Instead we should have the option to sort the buckets by oldest nextFetchDate, regardless of the size of the buckets

We currently query like this

[co

[2016-03-24 14:55] jnioche commented on #270
alternatively could use the sample aggregation in ES 2.x

[https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-sampler-aggregation.html]

[2016-03-24 16:14] #269 closed

[2016-03-24 16:19] #270 closed

[2016-03-28 10:24] jnioche opened #272 "Tika parser : dedup outlinks"
The Tika bolt currently does not deduplicate the outlinks. This makes the status updating step less efficient as we clog the buffers with redundant information

[2016-03-31 08:11] #259 closed

[2016-04-01 14:25] #272 closed

[2016-04-11 16:13] jnioche commented on #185
Now available as an external repo at [https://github.com/DigitalPebble/sc-warc]. This might make it to the main repo based on users' feedback. Marking as closed for now.

[2016-04-11 16:13] #185 closed

[2016-04-15 11:39] jnioche commented on #219
@rkrombho  should be fixed. See unit test included in patch. Please reopen if it does not work as expected

[2016-04-15 11:39] #219 closed

[2016-04-15 12:52] jnioche opened #273 "apply option to ignore robots in filter method of abstract indexer"
the option is used for the directives coming from robots.txt - we could also use that when processing the ones from http and or the html content

[2016-04-20 11:48] jnioche commented on #96
Implemented. Using the key `_redirTo` to track the value of the redirection.

[2016-04-20 11:48] #96 closed

[2016-04-20 11:52] jnioche commented on #267
Related [http://stackoverflow.com/questions/36722755/crawling-video-with-apache-nutch]

[2016-04-22 09:14] #267 closed

[2016-04-22 09:16] jnioche commented on #144
Use [jBrowserDriver](https://github.com/MachinePublishers/jBrowserDriver/)? 100% Java and headless.

[2016-04-22 14:05] kkrugler commented on #144
I think jBrowserDriver required Java 8 - would that be an issue?

Also, in the past we used [HTMLUnit](http://htmlunit.sourceforge.net/), though not without challenges.

[2016-04-22 18:12] jnioche commented on #144
@kkrugler could put that in a separate repo so that the requirement for Java 8 does not become necessary for core and the other modules.

Nutch has a HTMLUnit-based protocol implementation I think but not sure it's been used much yet and I haven't heard on that. There's also a Selenium one.

[2016-04-28 07:59] jnioche opened #278 "FetcherBolt simplify access to OutputCollector"
It looks as if the OutputCollectors are now thread safe and we should not need to emit from the main thread, use the tick tuples to flush etc...

Needs confirming but if it does we could greatly simplify the code of the FetcherBolt.

[2016-04-28 09:34] jnioche opened #279 "Check that the status gets modified for pages that return 304"
[SimpleFetcherBolt](https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/bolt/SimpleFetcherBolt.java#L352) does nothing about it so the pages are parsed as usual.

[FetcherBolt](https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/bolt/FetcherBolt.java#L539) skips the parsing but proba

[2016-04-28 09:35] jnioche commented on #279
Maybe it would make sense to share the code that handles that between the *FetcherBolt implementations? a super class?

[2016-04-28 10:10] jnioche commented on #279
[https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/storm/crawler/protocol/httpclient/HttpProtocol.java#L131] uses the values for the keys _cachedLastModified_ and _cachedEtag_  if present in the metadata.

At the moment these k/v are not stored automatically See #99 and #109

[2016-04-28 10:23] jnioche commented on #279
Note to self \: need unit test with an embedded web server.
[http://wiremock.org/]
[http://www.mock-server.com/]

[2016-04-28 11:24] jnioche commented on #279
Added fix for FetcherBolt + attempt at writing a Junit test with an embedded server in a separate branch (does not work yet but it's a start)

[2016-04-29 07:47] jnioche commented on #278
Possible with Storm 1.x only, see [https://issues.apache.org/jira/browse/STORM-841]. Can do that once we've merged [https://github.com/DigitalPebble/storm-crawler/tree/storm1.0]

[2016-04-29 09:20] #279 closed

[2016-05-03 08:36] jnioche opened #281 "ES metrics - remove filtering"
as this will be handled by Storm see [https://github.com/apache/storm/pull/1324]

[2016-05-06 10:43] jnioche opened #282 "Simplify MetadataTransfer"
We currently have a coded logic for persisting _depth_ and _url.path_ to the status storage. Other metadata have to be specified in the configuration file as a value of _metadata.transfer_.

We could add _depth_ and _url.path_ to the default configuration instead, as well as __redirTo_ or _error.cause_. These can always be overridden by the users if necessary.

The logic of incrementing the _depth

[2016-05-06 10:53] jnioche opened #283 "Custom scheduling based on metadata"
The default scheduler determines when a page should be re-fetched based on its status only and the same value is used regardless of the nature of a page e.g. RSS feed, sitemap, content page etc...

We could add a basic mechanism where a page could use an arbitrary key value in its metadata to set its nextFetchDate when it has been successfully fetched.

[2016-05-06 11:00] jnioche opened #284 "Add bolt for parsing RSS feeds"
Could be based on [ROME](https://github.com/rometools/rome) and follow the same logic as the SitemapParserBolt i.e. pass on to the next component on the default stream unless an arbitrary key value is found in the metadata (e.g. _isFeed=true_) or a matching mimetype is found in the metadata.

This bolt will then parse the content of the document and generate outlinks on the status stream.

[2016-05-19 10:37] jnioche opened #285 "Upgrade to Tika 1.13"
[https://tika.apache.org/1.13/index.html]

[2016-05-19 14:51] #285 closed

[2016-05-21 19:00] jnioche opened #286 "Add Flux equivalent of the example topology class"

[2016-06-08 10:52] jnioche opened #290 "Add mimetype as a field for indexing"
with some normalisation e.g. to remove charset or variants

[2016-06-08 14:32] jnioche commented on #283
This could be used initially for #291 so that feed URLs get refetched more frequently than the pages they point to

[2016-06-09 10:01] jnioche opened #292 "Tika NoSuchMethodError"
This occurred after moving to 1.13. The pom gets the right version though. This does not happen with 1.12, will revert to that

[code]

[2016-06-09 13:13] jnioche commented on #283
Implemented in [e3ed3bb]

[code]

[2016-06-09 13:13] #283 closed

[2016-06-09 13:13] #284 closed

[2016-06-09 15:15] jnioche commented on #282
There is an additional problem which is that we currently do not distinguish between metadata that we transfer to outlinks and the ones we just filter to persist.

For instance isFeed is useful for marking that a URL is a newsfeed but this should not be transferred to the outlinks. A transferred md should always be persisted but not all persisted ones should be transferred.

I'll look into having

[2016-06-09 15:16] jnioche commented on #282
Q\: is __redirTo_ also transferred to the outlinks?

[2016-06-10 07:32] jnioche commented on #282
Closing for now, the suggestion for depth and url path is not that crucial compared to what #293 brings

[2016-06-10 07:32] #282 closed

[2016-06-13 05:16] HeartSaVioR commented on #281
FYI: I merged this into Storm 1.x-branch, planned to be released as 1.1.0.

[2016-06-13 08:18] jnioche commented on #281
@HeartSaVioR thanks for the heads up. I'll port our code to Storm 1.x soon.

[2016-06-13 09:35] jnioche commented on #290
could use [https://tika.apache.org/1.12/api/org/apache/tika/mime/MimeType.html#getExtension()] as a value for the field or the [normalised media type](https://tika.apache.org/1.12/api/org/apache/tika/mime/MimeType.html#getType()).

Unlike Nutch there aren't any index filters in SC so we'd have to generate an arbitrary metadata key value with a parsefilter

[2016-06-13 09:42] jnioche opened #294 "Port code to Storm 1.x"
Most of the work has been done in a separate branch [https://github.com/DigitalPebble/storm-crawler/tree/storm1.0] but recent modifications need to be added to it.

We'd benefit from all the improvements in [Storm 1.x](http://storm.apache.org/2016/04/12/storm100-released.html)

There is a number of tasks that depend on this \:
* FetcherBolt simplify access to OutputCollector #278
* ES metrics - re

[2016-06-13 10:01] jnioche commented on #278
This depends on #294

[2016-06-15 10:42] jnioche opened #296 "Remote TTL from metrics index"
Could replace with a daily rolling index or let users delete with a query when gets too large [https://www.elastic.co/guide/en/elasticsearch/plugins/current/plugins-delete-by-query.html]

[2016-06-15 13:59] jnioche opened #297 "HTTP use cookie spec standard"
[https://hc.apache.org/httpcomponents-client-ga/httpclient/apidocs/org/apache/http/client/config/CookieSpecs.html#STANDARD] instead of the DEFAULT one.

see [https://issues.apache.org/jira/browse/HTTPCLIENT-1640]

[2016-06-16 10:14] #294 closed

[2016-06-16 14:14] jnioche commented on #286
[e9c5b89] still work in in progress. Getting error when trying to start a topology.

[2016-06-17 10:49] #278 closed

[2016-06-17 11:10] jnioche opened #299 "AggregationSpout to use sampling"
Queries take more and more time as the index gets larger. As an example, I am seeing querying taking over 3 secs on a status index containing 70M docs. Es 2.x has a sampling method which could be useful for speeding things up. There is also I think a mechanism for [profiling queries](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-profile.html) which would give some insights

[2016-06-17 12:38] #296 closed

[2016-06-20 09:16] #297 closed

[2016-06-20 09:24] jnioche commented on #299
Now that the status index contains 200M docs, some queries take up to 15 secs (depending on the shard size).

[2016-06-20 09:40] jnioche commented on #299
the queries we send currently look like this

[code]

[2016-06-20 09:45] jnioche commented on #299
Using the [sampler aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-sampler-aggregation.html)

the following query takes only 3 secs

[code]

[2016-06-20 10:15] jnioche opened #300 "Change version numbers to 1.0-SNAPSHOT"
Following a consultation on Twitter, and since we are now running on Storm 1.x, the next release will be 1.0. The versions need changing in the poms

[2016-06-20 10:24] #300 closed

[2016-06-20 14:47] jnioche commented on #286
**TODO**

- make sure that serialization is done properly as this is handled by the ConfigurableTopology
- check that the default configuration gets loaded (for the same reason)

[2016-06-21 11:09] jnioche commented on #286
[flux 0c6e08a] allows the config to be loaded from a root 'config' key

[2016-06-23 08:39] #286 closed

[2016-06-23 09:31] jnioche commented on #290
Alternatively could also use [https://google.github.io/guava/releases/19.0/api/docs/com/google/common/net/MediaType.html] but that won't help with the normalisation or detection.

This could be done by the parsers instead to avoid guessing the value, we could have an abstract Parser class definining the tuples, handling the outlinks etc... as well as doing the detection.

[2016-06-23 09:37] jnioche commented on #290
The Tika parser is likely to use the AutoDetectParser which will do the detection anyway and put the value in Metadata.CONTENT_TYPE, so we don't need to do it again. Could modify the Tika parser so that it takes the mimetype from the server as a clue.

[2016-06-23 09:48] jnioche opened #302 "Provide clues to Tika parser for indentification of mimetype"
e.g. filename and mime type returned by server

[2016-06-23 09:51] #302 closed

[2016-06-23 10:30] jnioche opened #303 "JSoupParser detects mimetype with Tika"
JSoupParser bolt currently can't handle pages for which the server returned no mimetype e.g.
[http://ask.39.net/question/41000455.html]

we should use Tika to detect the mimetype for us

[2016-06-23 10:31] jnioche commented on #290
See #303 to detect mimetype with JSoupParser bolt, we'd then use the same key as the one used by Tika  'parse.Content-Type'

[2016-06-23 11:15] jnioche opened #304 "SubDocumentsFilterTest should not use a sitemap file"
this currently uses the JSoupParser - which works only because we allow it to parse when no mimetype is available. We should have a minimalistic HTML doc to do the same OR use the RSS feed and generate subdocuments for each feed item

[2016-06-23 11:18] jnioche commented on #303
Implemented in [master 0c18986]

[2016-06-23 11:18] #303 closed

[2016-06-23 11:23] jnioche commented on #290
Now that #303 has been committed we should get values for 'parse.Content-Type' regardless of the parser implementation used; adding the mimetype as a field is trivial

[code]

The value is not normalised but this could be done later on.

[2016-06-23 11:23] #290 closed

[2016-06-23 16:28] jnioche commented on #299
could be simplified into

[code]

This does not give any guarantee that the older documents will be returned first but has better performance when the index gets large (32 vs 44 sec on a shard containing 75M docs)

[2016-06-26 16:00] jnioche opened #306 "Rename packages to com.digitalpebble.stormcrawler"
instead of `com.digitalpebble.storm.crawler` as we currently do.

Now would be a good time to do it as the next release will be 1.0

com.digitalpebble.storm contains only the subpackage crawler and the whole project is about storm crawler

our poms use <groupId>com.digitalpebble.stormcrawler</groupId>, the packages should reflect the same logic

Thoughts?

[2016-06-26 16:02] jnioche commented on #306
Poll on [https://twitter.com/stormcrawlerapi/status/747097497148002305]

[2016-06-28 05:32] jnioche opened #307 "Flux : config element not read properly"
fetcher.threads.number is set to 10 which is the default value despite setting it to 50 in the custom config

[2016-06-28 05:34] jnioche opened #308 "Upgrade to Java 8"
consultation on https://twitter.com/stormcrawlerapi/status/747354528140398596

[2016-06-28 09:41] jnioche commented on #307
See [https://github.com/apache/storm/blob/master/external/flux/flux-core/src/main/java/org/apache/storm/flux/parser/FluxParser.java#L162]

[2016-06-28 09:49] #307 closed

[2016-06-29 19:44] jnioche opened #309 "error.cause vs error.source"
Some bolts use _error.source_ to give an indication of why an ERROR status has been generated \:
* FeedParserBolt
* JSoupParserBolt
* SitemapParserBolt

while others user _error.cause_ \:
* FetcherBolt
* SimpleFetcherBolt
* AbstractStatusUpdaterBolt

The former is used with _Constants.STATUS_ERROR_MESSAGE_.

They actually mean slightly different things. 'source' is used when encountering an except

[2016-06-29 20:00] #309 closed

[2016-06-29 20:01] #299 closed

[2016-07-01 09:13] #308 closed

[2016-07-04 09:17] jnioche opened #311 "FetcherBolt : internal queues keep growing"
Even when tuples get a timeout, they remain in the FetcherBolt internal queues which keep growing as a result. These URLs are not considered in flight and the spouts keep generating new ones.

We could discard the content of the queues when we know that they have been sitting there for longer than the tuple timeout.

In addition to this we could also stop ingesting new URLs when the total number o

[2016-07-04 11:59] #306 closed

[2016-07-04 13:13] #109 closed

[2016-07-04 13:17] jnioche commented on #109
To use `etag` and `last-modified`, you now just need to specify

[code]

in the crawl configuration. This way, the key values will be persisted if returned by the server and used the next time round when querying it.

This can also be set on a per URL basis by setting the K/V in the metadata.

[2016-07-05 12:09] jnioche opened #312 "URLFilter based on metadata"
Make it 100% configurable and use e.g. to prevent outlinks from being followed on pages discovered by sitemap files (isSitemap=false).

Note \: the filter is applied based on the metadata of the parent page

[2016-07-06 15:17] jnioche commented on #312
Still need to add tests for the MetadataFilter

[2016-07-08 10:38] #312 closed

[2016-07-08 10:41] jnioche commented on #221
[Elasticsearch 5](https://www.elastic.co/blog/elastic-stack-release-5-0-0-alpha-4) will provide

[2016-07-08 11:20] jnioche opened #313 "Add WARC module to main repo"
It is currently used in [https://github.com/DigitalPebble/sc-warc] - which works on HDFS only.
We might want it in core, irrespective of where it is being stored onto. For instance we might have add code for storing into Amazon S3.

[2016-07-11 13:03] hironroy opened #314 "ESStatusUpdater delayed FETCHED status writes"
Hi, thanks for all the great work you guys have been doing on Storm Crawler!

When I run my crawl topology on a Storm Cluster (instead of on a local cluster), I'm not seeing any "FETCHED" statuses appear in the ES `status` index for a day or so. After the "FETCHED" statuses start appearing (after a day), they update at a rate that reflects the fetch rate.

Is this expected behavior? Am I configuri

[2016-07-11 14:42] jnioche commented on #314
Hi, thanks for your kind words.

This is definitely not the expected behaviour. The FETCHED should indeed match the fetch rate but should not take a day to appear on the index.

Can you share your ES and crawl configs? What sort of pages do you crawl for? Do they contain many outlinks? Any messages on the logs?

[2016-07-11 16:07] jnioche opened #315 "Adaptative URL filter to normalize URLs based on canonical tag"
Such a filter could compare the parameters of a URL with the canonical tag found in the page (if any) and  determine after a while which parameters can be safely removed in order to normalise the URL.

The aim is similar to the [clean-param extension of the robots protocol by Yandex](https://yandex.com/support/webmaster/controlling-robot/robots-txt.xml#clean-param) where sites can specify how URLs

[2016-07-12 14:28] hironroy commented on #314
Thanks! I'll be troubleshooting tonight, at which time, I'll compile and share my configs and logs.

To familiarize myself with storm-crawler, I've been pointing at Reddit's home page and limiting the crawl to subreddit and topic comment pages. There are a lot outlinks being emitted for the average page.

With basic poking around and grep-ing the Storm-Supervisor logs, I haven't found any error me

[2016-07-13 00:08] hironroy commented on #314
Got caught up with other work tasks, but will get on this tomorrow morning.

[2016-07-13 12:50] jnioche opened #316 "Frontera + SC?"
[https://github.com/scrapinghub/frontera] is used with Scrapy to handle distribution and URL frontier management. It should be possible to write resources so that Frontera delegates the fetching and parsing to StormCrawler.

[2016-07-15 13:25] jnioche commented on #130
Storing the binary content into HBase is not difficult to do. As for using it for the status of URLs it is probably not ideal as it does not support secondary indices. Cassandra could be a better option.

[2016-07-15 13:25] #130 closed

[2016-07-19 13:48] jnioche opened #317 "HTTP protocol : store request and response headers verbatim in metadata"
[WARCRecordFormat](https://github.com/DigitalPebble/sc-warc/blob/master/src/main/java/com/digitalpebble/stormcrawler/warc/WARCRecordFormat.java#L66) uses the value of the metadata key `_response.headers_` to include the HTTP headers in the WARC representation. The  WARCTypeValue  would then be 'response' instead of `resource`.

Similarly we'll need to store the request for [https://github.com/Digi

[2016-07-19 15:33] jnioche commented on #314
Hi @hironroy - still an issue or can we close this?

[2016-07-21 08:47] jnioche commented on #313
or move the whole warc repo as a submodule of SC and make the format class reusable by other implementations?

[2016-07-21 10:18] #317 closed

[2016-07-21 10:23] jnioche commented on #317
Storing the request headers is not easily doable with httpclient as the user agent info is not accessible from the httpget object.

[2016-07-21 11:37] anjackson commented on #317
In case it's useful in the future, I think [this is how Heritrix does it](https://github.com/internetarchive/heritrix3/blob/124907341f8b4b3e921c03721d77d52b33ea96e0/modules/src/main/java/org/archive/modules/fetcher/FetchHTTPRequest.java#L628). i.e. it wraps the input and output streams at the socket level and records what happens so it can be picked apart afterwards.

[2016-07-21 18:45] hironroy commented on #314
Looking at the performance metrics of the ES instance, I think the bottleneck is occurring there, so closing the issue makes sense. If I find anything that contradicts that, I'll update you. Thanks!

[2016-07-21 20:47] jnioche commented on #314
OK. It makes sense to give ES plenty of memory and fast disks in write-heavy situations e.g. when there's many outlinks discovered.
Having said that, it should definitely not take a day for the status to get updated.
Wondering whether it could be that you get tuple timeouts on the URLs fetched because they have too many outlinks to write to ES first and so they get removed from the cache in the sp

[2016-07-28 07:01] #314 closed

[2016-08-09 11:25] mattburns opened #319 "NoNodeAvailableException thrown when calling StatusUpdaterBolt.cleanup()"
Actually thrown when closing the `BulkProcessor` in `ElasticSearchConnection`.

[code]

[2016-08-10 16:04] ndtreviv opened #321 "SimpleFetcherBolt not encoding spaces"
We've come across several `illegal character in path` errors in our logs, eg:
[code]

In this case, the URL is sort-of fine, so long as spaces are URL encoded.

Stack trace example:
[code]

Is there something we need to do to ensure that the spaces are encoded before SimpleFetcherBolt attempts to fetch them?

[2016-08-10 17:23] jnioche commented on #321
Hi @ndtreviv
This is not handled at the Fetcher level or even by the Protocol but through the URL filtering. The [BasicURLNormalizer](https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/stormcrawler/filtering/basic/BasicURLNormalizer.java) should already do it, you just need to add it to the URL filtering configuration.

[2016-08-10 17:23] #321 closed

[2016-08-11 15:46] sebastian-nagel opened #323 "Documentation: Kibana dashboard import and typos"
- to import the dashboard config kibana.json: need to create index patterns first, see #322
- typos in the Wiki, see [diff](https://github.com/sebastian-nagel/storm-crawler/wiki/Configuration/_compare/6481df1e1107a982e4038792ee3c6aea1fc9625f...aa7e898b801ffcbe5d9ed0a7bdd2fbc491a5c0ba?diff=unified)

[2016-08-19 15:54] jnioche commented on #323
Wiki fixed, thanks!

[2016-08-19 15:54] #323 closed

[2016-08-20 14:13] sagistrauss opened #324 "Can't seem to run the basic build - getting a java.io.FileNotFoundException"
Hey im trying to get a simple example running but when i build from the archetype and run
`mvn clean compile exec:java -Dexec.mainClass=CrawlTopology -Dexec.args="-conf crawler-conf.yaml -local"`
i get an error, it complains that it is missing a file in `flux-core.jar!/resources`
now iv'e went into the jar and the folder is there.
how can i go about troubleshooting this issue, please help.

[2016-08-22 06:59] jnioche commented on #324
Thanks, I can reproduce the problem and will look into it. In the meantime, using the storm command should work as a workaround

[2016-08-23 06:42] #319 closed

[2016-08-24 10:02] jnioche commented on #324
Here is the full stack trace

[code]

the `resources` directory does exist in the jar though.

[2016-08-24 10:10] jnioche commented on #324
The same issue happens when calling the Flux topology from Maven

`mvn clean compile exec:java -Dexec.mainClass=org.apache.storm.flux.Flux -Dexec.args="--local crawler.flux"`

[2016-08-24 10:16] jnioche opened #325 "POM for projects from archetypes should use Java 8"
see #308

[2016-08-24 11:30] #325 closed

[2016-08-24 11:53] jnioche opened #326 "Archetype : proper handling of user-provided package names"
Currently the package names provided by the users when generating a project from the archetype are not reflected in the Java code nor in the README.

[2016-08-24 11:54] #326 closed

[2016-08-31 09:31] owenrh opened #327 "adding a dateLastProcessed field?"
Hi,

We're looking to add some additional diagnostic capability to the _status_ index by adding a _dateLastProcessed_ field.

We could push it in as a metadata field in our own crawler code, but we were wondering if it would make sense as a top-level field that most storm-crawler users would benefit from?

[2016-08-31 10:49] jnioche commented on #327
Thanks @owenrh (and great to see that you joined @mattburns and his gang)

Would that value be different from the fetch date? If so it could be added by the AbstractStatusUpdaterBolt, if not then it would be created by the Fetcher bolt implementations and be called e.g. lastFetchDate to mirror nextFetchDate. Having this could be useful for implementing an adaptive scheduling and it would be good f

[2016-08-31 11:09] owenrh commented on #327
Thanks for getting back to me so quickly Julien.

Re: fetch date - it would be the timestamp of the last attempted fetch, so either _lastFetchDate_ or _lastProcessedDate_ would make sense. I think I suggested the latter just because I felt it didn't imply a successful fetch, which I thought _lastFetchDate_ might. (But maybe that's just a matter of documentation).

If you think it would be useful i

[2016-09-06 10:46] #327 closed

[2016-09-06 12:27] owenrh opened #329 "Should 403 response codes result in status of ERROR?"
The [_Status.fromHTTPCode_ ](https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/stormcrawler/persistence/Status.java) method currently returns a _FETCH_ERROR_ status for 403 response codes. Would it make more sense to return an _ERROR_ status as a 403 seems like a permanent crawl error?

I guess the same could maybe said for 404s? Possibly, maybe, or no

[2016-09-06 12:40] jnioche commented on #329
It would be logical to do so but in practice a 403 is not always a definitive error - it is sometimes used when you hit a server too hard and get temporarily blacklisted. When trying the same URL again a bit later you get the URL fine. Same for a 404, under stress some servers would throw them but not when working in a normal load.
There is (or at least I think so) a logic in the scheduler to turn

[2016-09-06 14:11] owenrh commented on #329
Yeah, I suspected it might not be as trivial as that.

Just looking at the data some test data with the new metadata.lastProcessedDate I can see we're getting throttled with 404s. I think in terms of increasing our throughput we're going to have to become host-aware and think about some other options. Hmm, needs a bit more thought : )

(Will defo Stackoverflow it next time!)

[2016-09-06 14:12] #329 closed

[2016-09-07 14:43] jnioche commented on #311
Added `fetcher.max.urls.in.queues` to block as described above. Does not remove the URLs from queues as such but at least would allow to use the backpressure.

[2016-09-07 14:43] #311 closed

[2016-09-15 13:31] jnioche commented on #253
An ERROR status would probably have a corresponding NEVER FETCH value for nextFetchDate e.g. -1
Such value would also be useful for FETCHED documents when we do not want to ever reprocess them. At the moment we just set a ridiculously large value like in 10 years time

[2016-09-15 13:42] jnioche opened #331 "Conventional never refetch Date for nextFetchDate"
The persistence classes could enforce a mechanism whereby URL must be > Date(0) in order to be fetchable. This convention would allow to specify -1 for the scheduling so that URLs are never refetched.

[2016-09-15 14:37] jnioche commented on #331
Date(Long.MAX_VALUE) is a better option as it does not require to change the logic in the spouts. And conceptually NEVER probably has more to do with the future than the present.

[2016-09-15 14:59] #331 closed

[2016-09-15 15:17] jnioche commented on #304
The FeedParserBolt does not provide a DOM for the filters to operate on. We could demonstrate the functionality on a HTML doc instead or use JSoupParser on a feed.

[2016-09-19 15:54] ndtreviv opened #334 "Add intelligence to AggregationSpout re:host availability"
Currently, if there are a number of URLs associated with a single domain, and that domain itself either no longer exists, or has a robots.txt rule denying access, there is no intelligence to handle that. The spout will emit all URLs to be processed regardless.

There is a certain amount of handling to cater for this (eg: cached robots rules) to ensure that when they are processed, they are process

[2016-09-20 20:50] JeffBolle opened #335 "DefaultScheduler ignores settings"
I believe the recent commit (a2e47204cb2fd7c089cac7764d803a6013b867a9) to DefaultScheduler introduced a bug where the scheduler now does not set different times for the different status values.

line 121:
`cal.add(Calendar.MINUTE, checkMetadata(metadata));`

should be:
`cal.add(Calendar.MINUTE, minutesIncrement);`

since all of the calls to cal.add(...) were moved from the case statement and conso

[2016-09-20 21:11] jnioche commented on #335
Thanks @JeffBolle, much appreciated. I might release a patch version in a couple of days.

[2016-09-20 21:11] #335 closed

[2016-09-21 09:15] jnioche commented on #335
@JeffBolle great to see that you are using SC BTW. Any chance we could add your company to the list of users?

[2016-09-22 08:04] sebastian-nagel opened #337 "ES error when parsing never refetch date"
Setting `fetchInterval.default: -1` to indicate that a page should never be refetched (see #331) causes an error in Elasticsearch:
[code]
The error is caused by an overflow with timezones and `new Date(Long.MAX_VALUE)`, see https://github.com/JodaOrg/joda-time/commit/d7774f13ad2dc7cf7295bb8376c21bbf5c662fc4.

[2016-09-22 08:51] jnioche commented on #337
We could adopt another arbitrary value instead of Long.MAX_VALUE. I thought initially about using epoch but that required modifying all the spouts. Also using such a large value might have an impact on the storage in ES. Any suggestions? 100 years from now?

[2016-09-22 09:23] sebastian-nagel commented on #337
I've tested successfully
[code]
(two years before to be sure that the year does not overflow). Works, but a constant date far in the future is fine as well. Should be clear at a first glance that it means never, e.g. 2099-12-31 and it should be a constant to save storage space and make it easier to search for never-refetch items.

[2016-09-22 12:04] #337 closed

[2016-09-23 16:01] jnioche opened #340 "Delay in updates to status index"
Sebastian observed that his WARC files contained between 10-15% duplicates when crawling with ES. The most likely explanation is that there is a delay between the moment where an update is committed to the ES index and reflected in the search and when the corresponding tuple is acked (which happens a lot sooner). This issue is more likely on small crawls where the diversity of URLs is low.

One wa

[2016-09-23 17:30] sebastian-nagel commented on #340
The URLs fetched twice have in common that they are fetched shortly before ES is queried for new URLs:
[code]

[2016-09-23 21:05] jnioche commented on #340
Thanks @sebastian-nagel, this explains why the min.delay.queries param does not work for all URLs.

that was actually incorrect (and reassuring)

[2016-09-23 21:29] sebastian-nagel commented on #340
Couldn't it be that the document from El Watan is fetched at 11:37:25.520, acked at 11:37:25.892, and 80 ms later at 11:37:25.972 spout 6 asks for new URLs and gets 90 back at 11:37:25.985. Just one possibility, and 80ms is quite short. Once the URL is queued in Fetcher, it will be fetched again, right? But this may happen later. Attached the full log: [worker.log.zip](https://github.com/DigitalPe

[2016-09-24 08:36] jnioche commented on #340
yes, we are saying the same thing. The min.delay.queries param doesn't help with URLs at the end of the buffer as the time is counted since the previous request to ES was completed.

yes, once it's in, it's in! the same applies to URLs that sit in the Fetcher internal queues for too long and get failed() because of a timeout. The spout releases them and chances are that they get returned again by

[2016-09-26 12:55] jnioche opened #341 "Remove StatusStreamBolt"
Deprecated and replaced by the **com.digitalpebble.stormcrawler.indexing.DummyIndexer**

Need to update [https://github.com/DigitalPebble/storm-crawler/wiki/statusStream] and SQL crawl topology which uses it.

[2016-09-26 14:10] sebastian-nagel commented on #340
First patch which keeps the items longer to avoid duplicates
- by now only AggregationSpout is changed
- needs testing at scale
- bundled shared methods and variables in AbstractElasticSearchSpout

[2016-09-26 21:07] sebastian-nagel commented on #340
... and this patch causes the worker to fail sometimes while placing items in the deletion queue/cache:
[code]

[2016-09-27 13:35] JeffBolle commented on #335
@jnioche Sorry for the delay. We are still in the proof of concept phase and not ready to publicly support quite yet.  I'm sure you understand.

[2016-09-27 13:52] jnioche commented on #335
@JeffBolle no probs. Would be interested in your feedback on SC once your initial experiments are done \: what you liked or not? why it worked for you or not? Thanks

[2016-09-29 10:34] jnioche opened #343 "Apply crawl delay after fetching robots.txt"
We currently proceed to fetching a URL straight after getting the robots.txt without waiting for the crawl delay which might have been set by it or our own default value. To do that we'd need to know whether the robots rules came from the cache or a http request.

[2016-09-29 12:41] #341 closed

[2016-09-29 12:42] jnioche opened #344 "Fix links to code in Wiki"
Since we changed the packages to stormcrawler, all links to storm/crawler should be rewritten

[2016-10-02 15:37] valencik commented on #344
I was going to do this myself as a small thank you, but it appears GitHub doesn't support pull requests on Wikis.
You can however clone the wiki, edit locally, and push the changes.
So the following should work (tested locally on Mac OS X):

[code]

There are 36 instances of `storm/crawler` that should change.
However this will also add newlines to the ending of files without them, so you'll end u

[2016-10-03 15:26] jnioche commented on #344
Thanks @valencik

I had to use
`sed -i 's:digitalpebble/storm/crawler/:digitalpebble/stormcrawler/:' *.md` without hyphen and do a manual fix in one of the files, but this seems to have done the trick.

[2016-10-03 15:26] #344 closed

[2016-10-04 08:24] jnioche opened #345 "Metadata keys with multiple values not indexed correctly in ES"
When a metadata entry has multiple values, only the last value gets indexed in ES, and not the whole set.

[2016-10-04 08:39] jnioche opened #346 "JSoupParser needs to handle exceptions from mimetype"
instead of just propagating them as we do - which crashes the topo over and over.

[2016-10-04 09:33] #345 closed

[2016-10-04 09:36] #346 closed

[2016-10-05 11:00] jnioche opened #347 "Add AbstractElasticSearchSpout"
We currently have 3 different types of Spouts for Elasticsearch - all with their advantages and weaknesses. These 3 classes have an awful lot of code in common and also at least one common problem, as pointed out in #340. It would be more elegant to have an AbstractClass to simplify things.

[2016-10-05 11:00] jnioche commented on #340
Let's first put things in an abstract class (#347) then look at this delay cache business

[2016-10-05 11:46] jnioche commented on #347
Actually SamplerAggregationSpout extends AggregationSpout, so there is no need for it to extend the abstract class directly

[2016-10-06 12:58] #347 closed

[2016-10-06 14:38] jnioche opened #350 "Handle redirections via meta tag"
We currently don't handle redirs in html, a page such as the one below gets treated as fetched and gets indexed with an empty content, outlinks do not get discovered

[code]

at the very least we should treat the link as discovered but ideally the main URL should get REDIRECTIOn

[2016-10-07 10:34] jnioche opened #351 "Status index - fields stored unecessarily"
we store the source, so it should not be necessary to store individual fields on top of that

[2016-10-07 12:16] #351 closed

[2016-10-10 09:44] #340 closed

[2016-10-10 10:39] jnioche opened #352 "URLs with \ should be URLencoded"
Some browsers turn them into / but the correct way would be to URLEncode them, e.g.

"http://www.voltaix.com/\\SDS\\Silicon\\Trisilane\\Trisilane_SI050_USENG.pdf"
=>
"http://www.voltaix.com/%5CSDS%5CSilicon%5CTrisilane%5CTrisilane_SI050_USENG.pdf"

Currently these URLs get filtered as they are not valid URIs

[2016-10-10 10:43] #352 closed

[2016-10-10 12:13] jnioche opened #353 "Add super class for bolts using the status stream"
The fetcher bolt implementations and the parsers generate redirections and / or outlinks. All have in common that they can define URL filters, handle redirections as well as generate the same sort of output. We could have an abstract class to do all this

[2016-10-10 13:08] #316 closed

[2016-10-11 15:03] jnioche opened #354 "Generate signature based on text content"
Could be done as a ParseFilter and could be used to detect duplicates in an external process.

[2016-10-11 15:15] jnioche commented on #354
The signature could be done on the binary content or the extracted text

[2016-10-11 15:21] jnioche commented on #354
as a starting point we could do the same as [Nutch](https://github.com/apache/nutch/search?utf8=%E2%9C%93&q=%22extends+Signature%22)
[code]

[code]

[2016-10-12 15:38] jnioche commented on #273
we have only one config at the moment which prevents the robots files from being fetched but we might want to have a separate config to ignore the directives, possibly still fetching the robots though to have the sitemaps. this new config could be used to prevent the directives from HTML or HTTP to be applied.

[2016-10-12 15:47] jnioche opened #357 "Combine JSoupParser with Tika"
The DOM generated by Tika is not as good as the one coming from JSoup (Tika has that annoying habit of filtering things). We can't simply connect the Tika bolt to the Jsoup one on the standard stream as the docs would be reparsed. We could check that the text is empty in the Tika bolt however since the parsing of richer formats like PDF or DOC takes longer than the HTML with JSoup, we'd end up wit

[2016-10-12 15:56] #357 closed

[2016-10-12 16:38] #354 closed

[2016-10-12 17:03] tballison commented on #292
Is this a bug in Tika or a version conflict in the storm-crawler ecosystem?  I'd strongly encourage using 1.13 at this particular point in the code because of this [CVE](http://seclists.org/oss-sec/2016/q2/413)

[2016-10-12 17:12] tballison opened #358 "Tika parser may not be parsing embedded documents"
If calling Tika's parse() with 4 parameters (using the ParseContext), you need to add a Parser.class to the ParseContext to handle embedded documents.

See [TIKA-2096](https://issues.apache.org/jira/browse/TIKA-2096) for a proposal to fix our API in Tika 2.0, and for a list of other projects (including Tika!) that fell victim to this.

I'd open a PR, but I can't quickly see how to test Tika.  I'd

[2016-10-13 09:50] jnioche commented on #292
Thanks @tballison. Will look into it again.

[2016-10-13 10:24] jnioche commented on #324
interestingly the same issue happens when removing Flux from the dependencies but adding storm-crawler-tika

[code]

[2016-10-13 10:30] jnioche commented on #292
Can't reproduce the problem. I can use Tika 1.13 in a topology running in Eclipse as well as using the Storm command both in local and deployed mode. Marking as closed for now.

[2016-10-13 10:30] #292 closed

[2016-10-13 12:45] #358 closed

[2016-10-13 12:47] jnioche commented on #358
Thanks @tballison, I've implemented your suggestion and created a test environment for Tika, which will be useful for other things as well.

Just to check that I understand it properly \: when dealing with embedded docs, is there a way to separate each individual subdoc or does it all get lumped up in a single object? StormCrawler can generate discrete subdocuments from an original one so we could

[2016-10-13 13:16] tballison opened #361 "Allow indexing of embedded documents/attachments as individual docs"
Tika's legacy behavior was to concatenate the content of embedded documents into one handler and ignore metadata from embedded documents.  This was probably driven by the desire to allow Tika to handle reads and writes in a streaming fashion.

If you're willing to forego streaming and are willing to store the extracted content in memory, you might consider Jukka Zitting's and Nick Burch's "Recursi

[2016-10-13 13:16] tballison commented on #358
Well, now that you mention it, :), see https://github.com/DigitalPebble/storm-crawler/issues/361.  Let me know if you have any questions.

[2016-10-14 13:36] #353 closed

[2016-10-17 10:48] #350 closed

[2016-10-17 11:22] jnioche opened #363 "URL Normalisation - remove parameters where the value is a 32-bit hash"
a regex like '[a-fA-F\d]{32}' should do the trick. This would be useful for getting rid of session IDs, timestamps etc...

e.g.

[http://www.florida-chemical.com/Diacetone-Alcohol-DAA-99.html?xid_0b629=12854b827878df26423d933a5baf86d5]

would be turned into

[http://www.florida-chemical.com/Diacetone-Alcohol-DAA-99.html]

[2016-10-17 14:28] sebastian-nagel commented on #313
Although based on HDFS it allows writing to a local file. Writing to S3 should also be possible via HDFS using `s3a://` as scheme/protocol and given that s3a support libraries are installed.

Having the WARC bolt in the main repo would simplify to synchronize its dependencies with that of stormcrawler.

[2016-10-17 16:15] jnioche opened #364 "Language ID filter"
It would be useful to have a language identification module running as a ParseFilter. Could use the one in Tika as a starting point.

[2016-10-18 12:37] #363 closed

[2016-10-18 12:40] jnioche commented on #364
Tika now uses [https://github.com/optimaize/language-detector], we might as well use that directly. The dependency is 1.9MB in size. Should it be in the main repo though?

[2016-10-18 14:56] jnioche commented on #313
Seems to be some consensus on https://twitter.com/stormcrawlerapi/status/788021645957009410
I will port the code to the main repo.

[2016-10-19 14:19] jnioche opened #366 "Filtering : treat path parameters as query parameters"
such as

[http://www.maroongroupllc.com/maroon/login/auth;jsessionid=8DBFC2FEDBD740BBC8B4D1A504A6DE7F]

Although quite rare, it should be possible to treat such path parameters as query parameters and filter them accordingly.

[2016-10-19 14:20] #366 closed

[2016-10-19 17:09] kkrugler commented on #366
Feels like URL normalization should make its way into crawler-commons. This is a good example of all the "interesting" edge cases that we don't want everyone to have to independently find/support in every project.

[2016-10-19 17:11] kkrugler commented on #364
Side note - [Yalder](https://github.com/kkrugler/yalder) is another option that (in Tika 2.0) will likely be the default language detector (faster, better accuracy, more languages). But I've stalled out on getting a real release cut, so not ready for prime time yet.

[2016-10-19 21:32] jnioche commented on #364
Thanks @kkrugler, will keep an eye on it.

[2016-10-19 21:34] jnioche commented on #366
I completely agree @kkrugler. The next release will contain [https://github.com/crawler-commons/crawler-commons/blob/master/src/main/java/crawlercommons/filters/basic/BasicURLNormalizer.java] which is a good start but we should improve it with cases like this one.

[2016-10-21 09:10] jnioche opened #367 "fieldsGrouping for input to StatusUpdaterBolt"
If multiple instances of status updater bolt are used, _localorshufflegrouping_ is a poor choice as the internal cache of the AbstractStatusUpdaterBolt would not be hit consistently for DISCOVERED URLs. Instead we should group by the URL field.

The example topology generated by the archetype uses a single instance of the status updater bolt but we will group by URL for educational purposes and al

[2016-10-21 09:11] #367 closed

[2016-10-24 09:48] #313 closed

[2016-10-24 10:48] jnioche opened #368 "BasicURLFilter to remove URLs based on path repetition and max length"
The path repetition is very useful in most crawls there inevitably are sites that generate recursive URLs and rapidly take over everything else. We had a regex based filter inherited from Nutch but it is very slow. Instead we can put that functionality in a new BasicURLFilter which could also remove URLs based on their length.

These filters are meant to be super fast and so should be used early i

[2016-10-24 11:30] #368 closed

[2016-10-25 08:35] prokopidis opened #369 "[ElasticSearch] "Result window is too large""
Hi and thanks for SC. We have the following issue while running the elasticsearch module. Things work as expected in the beginning but after a while and with around 10800/80 discovered/fetched urls, the process dies with a "Result window is too large" message:

[code]

[2016-10-25 08:41] jnioche commented on #369
Thanks @prokopidis for reporting this. You could use the AggregationSpout as an alternative but I'll have a look at this in the meantime.

[2016-10-25 08:56] jnioche commented on #369
The param 'es.status.max.secs.date' should be set to prevent deep paging, see [https://github.com/DigitalPebble/storm-crawler/blob/master/external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/ElasticSearchSpout.java#L59]. It is inactive by default but it would be a good idea to set it in es-conf.yaml so that users are more aware of it.

[2016-10-25 09:00] #369 closed

[2016-10-25 09:01] jnioche commented on #369
@prokopidis could you please give the change I just committed a try? Thanks!

[2016-10-25 10:18] prokopidis commented on #369
The `es.status.max.secs.date: 100` is read from the conf when the spout is opened, but the same error occurs.

[2016-10-25 10:44] jnioche commented on #369
Ok, you've tried a lower value I presume (e.g. 30)?

[2016-10-25 10:58] jnioche commented on #369
Ok, there are several issues here. The main one is that ElasticSearchSpout does not throttle the calls to ES, like the AggregationSpout(s) do. In your case it means that we quickly send far too many requests without  es.status.max.secs.date having time to kick in. I'll move the throttling from AggregationSpout to the abstract class and force ESS to use it.

The trouble in your case is that you are

[2016-10-25 12:38] prokopidis commented on #369
Thank you @jnioche for the explanation and the solutions. Perhaps it would be helpful if the link to the archetypes conf was mentioned as a starting point in the ES module documentation.

[2016-10-25 12:48] jnioche commented on #369
You are welcome @prokopidis. See #370 for a PR which adds ad delay between calls to ES in the ESSpout.

Could do or we could add some instructions on how to modify the files generated by a call to the archetype

[2016-10-31 11:20] prokopidis commented on #350
I think that a content attribute with one or more spaces between `;` and `URL` like `content="0; URL=http://www.apollocolors.com/site"` is not handled by RefreshTag. Perhaps the class could use a pattern match like

[code]

[2016-10-31 11:25] jnioche commented on #350
thanks @prokopidis. Good point, would you mind opening a PR for this with a test?

[2016-11-01 09:18] jnioche commented on #343
Not worth bothering I think. This happens only once and then the robots is cached

[2016-11-01 13:25] jnioche commented on #192
Closing for now, hasn't been much interest in the SOLR module lately.

[2016-11-01 13:25] #192 closed

[2016-11-01 14:10] jnioche opened #371 "Spouts : load results with a non-blocking call"
We currently block the nextTuple when executing an Elasticsearch query and as such prevent ack/fails to happen. Instead, we should execute the ES query with a non-blocking call and return as soon as possible. This would possibly require the access to the buffer to be synchronized and an additional check that we are not already querying.

[2016-11-01 16:02] jnioche opened #372 "Add Flux files for ES"
Having Flux files would be useful e.g. to use ES with a project generated from the archetype

[2016-11-01 16:46] #372 closed

[2016-11-01 16:47] jnioche commented on #372
**NOTE**
Need to configure metrics via config

[2016-11-01 16:48] jnioche commented on #369
@prokopidis see #372 for resources and instructions on using the archetype with ES

[2016-11-04 11:52] #364 closed

[2016-11-07 14:28] jnioche opened #375 "JSoupParser does not dedup outlinks properly"
Needs verifying but [http://love123.blog.so-net.ne.jp/archive/c15355316-1] generates multiple instances of the same outlink as they don't get deduped **post normalisation**. This results in an unnecessary number of additions to the status index.

[2016-11-09 12:36] jnioche opened #376 "ES - settings done via configuration"
We should be able to configure the settings for a given ES connection via the config e.g.

[code]
including the cluster name. This would be useful for connecting to a Shield-enabled cluster.

[2016-11-09 12:44] jnioche opened #377 "ES - remove Node client"
Not available in 5.x and did not work with 2.x anyway.

[2016-11-09 12:51] #376 closed

[2016-11-09 13:04] #377 closed

[2016-11-09 13:11] jnioche opened #378 "Es - add plugin to the clients via configuration"
e.g. to add Shield plugin

The configuration could specify the full class name of the plugin

[2016-11-10 09:29] prokopidis opened #379 "URLs of Status.REDIRECTION in metadata.depth calculation"
Suppose SC is used to collect all content up to depth 1 from a site www.example.com and that this seed URL immediately leads via meta- or server-side redirection to www.example.com/en-us/. Does this mean that the latter will be the only entry with metadata.depth 1 in the status index and that "actual" depth 1 URLs will never be fetched?

If yes, is there a way to change this behaviour (i.e. to ski

[2016-11-10 10:01] jnioche commented on #379
Correct, redirections are not treated differently from outlinks, see [https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/stormcrawler/util/MetadataTransfer.java#L162].

There is currently no way to circumvent this.

[2016-11-10 10:01] #379 closed

[2016-11-10 11:10] #378 closed

[2016-11-10 13:37] ldkz2524 commented on #324
same issue here. Can't seem to add tika and i previously removed flux due to the @sageeki 's  issue.

`java.io.FileNotFoundException: Source 'file:\C:\Users\Dongkeun\.m2\repository\edu\ucar\grib\4.5.5\grib-4.5.5.jar!\resources' does not exist
	at org.apache.storm.shade.org.apache.commons.io.FileUtils.checkFileRequirements(FileUtils.java:1405) ~[storm-core-1.0.2.jar:1.0.2]
	at org.apache.storm.shad

[2016-11-10 14:22] jnioche commented on #324
@ldkz2524 please use the storm command for now. I reported the issue in Storm but there hasn't been progress on that front. Thanks!

[2016-11-14 10:38] XciD commented on #371
I've done something similar on my spouts, as you say, in order to don't block `nextTuple`, `ack`and `fail` methods

I will try to generify

[2016-11-14 15:28] jnioche commented on #371
That would be great. Thanks

On 14 Nov 2016 11:38, "XciD" <notifications@github.com> wrote:

[2016-11-16 09:29] jnioche opened #380 "Add Grafana schema to display metrics stored in ES"
@XciD any chance you could share a generic schema for this?

[2016-11-21 11:12] jnioche opened #382 "bulkProcessor : set number of concurrent requests via config"
It is currently set to 1 in the code. Instead we'll use

[code]

[2016-11-21 11:13] #382 closed

[2016-11-21 11:14] #371 closed

[2016-11-21 11:31] jnioche opened #383 "Upgrade to SOLR 6.4.0"
@jorgelbg is that the version you used? Any chance you could look at this one?
Thanks!

[2016-11-22 11:23] jnioche opened #384 "Allow fieldNameForRoutingKey to be outside metadata and use a different key for spouts"
It would be good not to assume that the StatusUpdater bolt will use a field to store the value used for sharding explicitly as a separate field and that this will be in the metadata object. This value could not be set at all and the spouts could use the '_routing' field instead. We should also define a separate config name for the spouts to avoid any confusion.

[2016-11-22 12:01] #384 closed

[2016-11-22 17:03] jnioche opened #385 "ES: use SHA256 as doc_id"
instead of the document's URL. The URL is stored as a separate field anyway. Would there be a gain in performance? There would certainly be a gain in size as all the URLs no matter how large or small would all be represented in 64 chars.

[2016-11-23 13:01] sebastian-nagel commented on #385
Good idea. The ES document API is not easy to use with URLs as IDs because of the configurable routing (by host/domain/ip) and because reserved characters (`/?+&`) have to be escaped.
- a [URL-safe base64 encoding](https://en.wikipedia.org/wiki/Base64#URL_applications) similar to [ES autogenerated IDs](https://www.elastic.co/guide/en/elasticsearch/guide/current/index-doc.html#_autogenerating_ids)

[2016-11-23 14:14] sebastian-nagel opened #386 "Custom schedule based on metadata for non-success pages"
#283 adds a custom schedule triggered by metadata for all successfully fetched pages. It is not applied to non-success fetches (redirects and errors). However, in certain cases (see commoncrawl/news-crawl#14) it's desirable to have a custom fetch schedule which is takes both metadata and status into account.

[2016-11-24 10:21] jnioche opened #387 "Upgrade to Crawler-Commons 0.7"
https://github.com/crawler-commons/crawler-commons#24th-november-2016----crawler-commons-07-released

Contains various bugfixes and performance improvements as well as a URLFilter interface and basic normalisation implementation.

[2016-11-24 10:29] #387 closed

[2016-11-24 10:36] jnioche commented on #386
Good idea. We could perhaps have the status in the param name e.g.

`fetchInterval.FETCH_ERROR.isFeed=true: 10`

or change to a structured object instead which would be a tad cleaner

[code]

@sebastian-nagel what do you think?

[2016-11-24 11:17] sebastian-nagel commented on #386
The first looks quite simple and intuitive. Of course, in the very rare case that a meta data key is "ERROR.xyz" it would break existing rules. The second form could be made even more extensible, e.g., to match all feeds which are not "FETCHED" by a single expression. But then it would resemble a boolean query of the status storage.

[2016-11-24 12:22] jnioche commented on #144
[Example of JS content](http://stackoverflow.com/questions/40784663/how-to-parse-a-javascript-object-from-a-html-page-i-crawl)

[2016-12-05 13:14] jnioche opened #388 "Harcoded limit to the max # connections allowed by protocol"
https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/stormcrawler/protocol/httpclient/HttpProtocol.java#L69

this can be a bottleneck when using more than 200 fetcher threads per JVM. Instead, we should set this value to be == to the number of fetching threads

[2016-12-05 13:16] #388 closed

[2016-12-09 13:30] jnioche opened #389 "Generate metrics about status counts"
We have a visualization for Kibana which gives us an instant breakdown of the number of URL per status. We could add a bespoke Bolt which would run an aggregation query every N secs to report the counts per status value, this way we'd be able to visualise the evolution of the counts over time. This bolt shouldn't need to be connected to any other one in the topology.

[2016-12-16 15:32] jnioche opened #391 "Slow charset detection"
The charset detection can take up to 50% of the time spent in the execute() method of JSoupParserBolt. This is due to using the whole document content for the detection instead, we should use the N first bytes of the content only (N being configurable) or even set it to 0 to rely only on the value returned by the server if any.

[2016-12-16 15:54] #391 closed

[2016-12-16 15:55] #385 closed

[2016-12-19 13:19] Laurent-Hervaud opened #392 "[ElasticSearch] The cluster.name parameter does not work from conf file"
Connection with elasticsearch not working if cluster name different than elasticsearch.
The parameter cluster.name: "myclustername" (ex : es-stormcrawler) has no effect.
It's working only if your cluster name is elasticsearch (default)
The same for all 3 parameters (es.indexer.settings, es.metrics.settings, es.status.settings)

[2016-12-20 17:08] Laurent-Hervaud opened #393 "[ElasticSearch] ES 2.4.x not support for dots in field names"
Error in ES log : MapperParsingException[Field name [metadata.hostname] cannot contain '.']
The status index is not working with ES
Solution : modify parameter es.status.routing.fieldname in es-conf file (ex : es.status.routing.fieldname: "metadata_hostname")

https://www.elastic.co/guide/en/elasticsearch/reference/2.4/dots-in-names.html

[2016-12-21 10:07] jnioche commented on #392
Hi @Laurent-Hervaud.

The way the cluster name is specified has changed since 1.2; as shown in [es-conf.yaml](https://github.com/DigitalPebble/storm-crawler/blob/master/external/elasticsearch/es-conf.yaml)

[code]

Feel free to reopen this issue if necessary.

[2016-12-21 10:07] #392 closed

[2016-12-21 10:10] jnioche commented on #393
Thanks for reporting this @Laurent-Hervaud. This is due to a recent change I made since 1.2, will fix it shortly.

[2016-12-21 10:15] Laurent-Hervaud commented on #392
I known but this parameter is not use properly. If the es cluster name different than elasticsearch, no query or index will work with ES.
My conf :

  es.status.settings:
    cluster.name: "es-stormcrawler"

[2016-12-21 10:16] #393 closed

[2016-12-21 10:17] jnioche commented on #393
@Laurent-Hervaud I've just pushed a fix for this. Could you give it a try and let me know if it fixes it? Thanks again for reporting this.

[2016-12-21 10:18] jnioche commented on #392
I just checked and it worked fine for me. Could it be the formatting e.g. no spaces before cluster.name?

[2016-12-21 10:38] Laurent-Hervaud commented on #393
@jnioche Ok, I have tested and it is fixed. Thanks

[2016-12-21 10:55] Laurent-Hervaud commented on #392
It's work for me too. Sorry...

[2016-12-21 10:57] jnioche commented on #392
No problem. Glad we found what the problem was

[2016-12-21 11:03] Laurent-Hervaud commented on #392
Ok I found. Not working with StormCrawler Maven Archetype (version 1.2).
Resolved with 1.3 snapshot

[2016-12-22 13:25] jnioche opened #394 "SimpleFetcherBolt does not handle redirections properly"
Since the introduction of StatusEmitterBolt, SimpleFetcherBolt does not use the config handled by the superclass and as a result does not follow redirections.

[2016-12-22 13:25] jnioche commented on #394
Fixed in [067e77f2f05694]

[2016-12-22 13:25] #394 closed

[2016-12-26 00:47] MyraBaba opened #395 "ElasticSearch"
Hi,

We started to test stormcrawler. We are coming from the WW I (Nutch :).)

1 - is there any way to give command line paramethers such as:

maxdepth
checkValidURI  etc.  which is normally located at the resources folder. If we change it from the file and compile again ( big jar)   it is working. Is there any solution that doenst need recompiling ?

2 - Where we can find the full parameters list

[2016-12-26 09:23] jnioche commented on #395
Hi

1. I am afraid not. These values are taken from the file only and need recompiling and restarting the topology

2. See [https://github.com/DigitalPebble/storm-crawler/wiki/Configuration] and the default values [https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/resources/crawler-default.yaml]

[2016-12-26 09:23] #395 closed

[2016-12-27 11:21] MyraBaba opened #396 "Slow fetching -"
Hi ,

This is obviously a configuration issue. But I couldnt find elsewhere  to write:

I couldnt get the full throttle of the storm crawler. I have plenty bandwidth
![image](https://cloud.githubusercontent.com/assets/17505439/21498655/a3e4f90c-cc3f-11e6-956a-b6843c1c3494.png)
 and resources.

I seed 400 urls (which is only 80 of them taken inside the ES I dont know why) . and :

etcher.server.del

[2016-12-27 19:18] jnioche commented on #396
Try with a larger TTL value if you use one

Can you describe your topology + share your full config including the ES one?

[2016-12-27 19:23] MyraBaba commented on #396
here the config files for the elasticsearch example folders:

crawler-config:

# Default configuration for StormCrawler
# This is used to make the default values explicit and list the most common configurations.
# Do not modify this file but instead provide a custom one with the parameter -config
# when launching your extension of ConfigurableTopology.

config:
  fetcher.server.delay: 0.2
  fetche

[2016-12-27 19:31] jnioche commented on #395
I replied too quickly (blame Christmas) - if you look at [https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/stormcrawler/filtering/URLFilter.java#L40] you'll see that the URL filters get the configuration - which will be overridden by any key values passed on the command line. This means that in theory the conf set in the JSON file could be overridden

[2016-12-27 19:33] MyraBaba commented on #395
thanks..  will look into it and let you know.

[2016-12-27 19:39] jnioche commented on #396
Using [https://github.com/DigitalPebble/storm-crawler/blob/master/external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/ESCrawlTopology.java]? Make sure the number of shards is the same as what the ES init script specified.

` topology.max.spout.pending: 10` is likely to be too low for 200 threads.

The AggregationSpout or SamplerAggregationSpout is likely to give you b

[2016-12-27 20:38] MyraBaba commented on #396
Number of shards:

in the ESCrawlTopology.java:

TopologyBuilder builder = new TopologyBuilder();

int numWorkers = ConfUtils.getInt(getConf(), "topology.workers", 2);

int numFetchers = ConfUtils.getInt(getConf(), "fetcher.threads.number",
        50);

// set to the real number of shards ONLY if es.status.routing is set to
// true in the configuration
int numShards = 10;   //  IT WAS 1 .  I CHAN

[2016-12-28 14:10] jnioche commented on #396
the max.spout.pending value is per spout instance. You are using 10 which is also the # of shards, so it's all good.

Note that the screenshots you took are probably an average over the fetcher bolt instances - you have 50 of them. A better way of assessing the speed and bottlenecks is by looking at the Storm UI on port 8080 and in the resulting index.

using the FetcherBolt (a single instance wil

[2016-12-29 12:49] jnioche commented on #396
Closing for now - feel free to open a new issue if you find something which looks like a bug or want a new features. For general questions, the mailing list or stack overflow would probably be better. Thanks!

[2016-12-29 12:49] #396 closed

[2016-12-30 01:28] MyraBaba opened #397 "Native Heron support"
Hi,

We know there is a a way to transferring to the Twitter's Heron (replacement to the Storm) from the current system .

Do you have a plan to change  to  native Heron based structure ?

[2016-12-30 07:51] jnioche commented on #397
No. We're staying on Apache Storm for the foreseeable future.

[2016-12-30 07:51] #397 closed

[2016-12-30 08:24] jnioche opened #398 "Tika : NoSuchMethodError"
Getting
`java.lang.NoSuchMethodError: org.apache.tika.parser.ParseContext.getDocumentBuilder()Ljavax/xml/parsers/DocumentBuilder;`
when parsing \:
https://www.chemours.com/Glypure/en_US/assets/downloads/glypure-skin-care-formulations-technical-information.pdf
https://www.chemours.com/news/news-releases/20160803-chemours-announces-3rd-qtr-dividend.pdf
https://www.chemours.com/Titanium_Technologies/

[2016-12-30 08:33] jnioche commented on #398
Tested with tika-app-1.13.jar, which parses the doc fine.

[2017-01-01 03:28] MyraBaba commented on #396
Hi  Again,

As you suggested I change the fetcher to the FetcherBolt  instead of the SimpleFetcherBolt  in the elastic search  config. Now I have a lot of error:

org.apache.http.conn.ConnectionPoolTimeoutException: Timeout waiting for connection from pool

**********
68648 [Thread-24-spout-executor[33 33]] INFO  c.d.s.e.p.ElasticSearchSpout - ES query returned 100 hits in 67 msec
68653 [Thread-66

[2017-01-03 09:59] jnioche commented on #396
You should use only 1 instance of the FetcherBolt per worker - they are all competing for connections from the protocol.
The difference between the SimpleFetcherBolt and the FetcherBolt is that the latter is a single instance creating sub fetching threads whereas the SFB instances are the fetching threads.

[2017-01-03 10:30] jnioche commented on #398
Was due to a mismatch between the version of the tika core dependency and the tika parser one but fine now that we upgraded to crawler commons 0.7

[2017-01-03 10:30] #398 closed

[2017-01-04 16:07] MyraBaba opened #399 "per url depth & regex filter"
feature wish 👍

There will be a very useful if we can submit the seed list with depth and url filter regex  per url as an option.

[2017-01-04 16:20] Laurent-Hervaud opened #400 "Limit fetch to seed list"
I not found good way to limit my crawl to my seed list :
 - in MaxDepthFilter "maxDepth": 0 not working (0 value same as empty, better -1 ?)
 - in HostURLFilter, nothing for ignoreInsideHost (inlinks)

I found a trick with RegexURLFilter :
\# ignore all
-.

[2017-01-05 09:44] jnioche commented on #399
Having a mechanism to set a non default max depth per seed is a good idea and the regex one could be useful too but would you mind giving me an example of that so that I can have a better picture of what you are trying to achieve?

[2017-01-05 09:55] MyraBaba commented on #399
I have different type of urls (news , portal , blog etc.) So each one needs different follow rules.

Such as:

http://edition.cnn.com/ <http://edition.cnn.com/>

I wan to follow only if url includes “politics”  at 4 level depth ie : http://edition.cnn.com/2017/01/04/politics/us-intelligence-trump/index.html <http://edition.cnn.com/2017/01/04/politics/us-intelligence-trump/index.html>

so  the url

[2017-01-05 09:58] jnioche commented on #400
Hi @Laurent-Hervaud, thanks for your comments

`parser.emitOutlinks: false` does exactly that for the JSoupParserBolt, as for the redirections you can prevent them with `redirections.allowed: false`

What you are trying to achieve can also be done by the topology itself i.e. disconnecting all inputs on the status streams going to the status updater bolt (assuming you are using one).

I take your p

[2017-01-05 14:56] jnioche commented on #400
Closing for now, feel free to reopen it

[2017-01-05 14:56] #400 closed

[2017-01-05 20:05] MyraBaba opened #401 "Malformed escape pair"
In our crawl test we found that some of the urls didnt fully encoded for fetch. We have below errors.

I assume is coming from '%' .

FYI
FetcherBolt [ERROR] Exception while fetching http://www.hurriyet.com.tr/index/?d=20160328&p=13&s=ni%u011fde
java.lang.IllegalArgumentException: Malformed escape pair at index 54: http://www.hurriyet.com.tr/index/?d=20160328&p=13&s=ni%u011fde
	at java.net.URI.cre

[2017-01-06 09:50] jnioche commented on #401
You should use the BasicURLNormalizer \: it will check whether a URL is a valid URI before adding it to the index. I've just committed a change to it [96c5a04] which dumps the original URL before normalization.

We can't do much to fix the problem - if it's due to some incorrect normalization - unless we know the original form of the URL. Any chance you could rerun the crawl and look for 'Invalid

[2017-01-06 10:23] jnioche commented on #400
@Laurent-Hervaud, I have implemented your suggestion for the handling of 0 in maxdepth filter. See [f46b1ab], this should deal with both outlinks and redirs. Could you please give it a try (and also confirm that the solution I gave yesterday also works)?

[2017-01-06 10:25] jnioche commented on #399
@MyraBaba I have implemented your suggestion for the custom depth per URL, see [f46b1ab].
You can now specify 'max.depth=X' in the seed metadata; it will be passed on to the outlinks automatically.
Could you please give it a try? Thanks

[2017-01-06 11:09] Laurent-Hervaud commented on #400
Hi @jnioche
It's not working is masdept > -1. It's like metadata.track.depth was false ? No depth in ES status index
I think there is problem in /util/MetadataTransfer.java line 162.

It's ok for the solution with parser.emitOutlinks: false

[2017-01-06 11:23] Laurent-Hervaud opened #402 "Reinitialize depth to 1 when changing host or domain"
It wood be a good improvement the possibility to have a parameter for reinitalize the depth metadata when the outlink change host or domain.
In this case we can control depth by host or domain and not only from the seed list.

[2017-01-06 11:36] jnioche commented on #400
Thanks @Laurent-Hervaud

I've fixed a bug in [8bbc551] and added a test class. Would you mind giving it another try? Thanks

[2017-01-06 12:03] normansuesstrunk opened #403 "Error when running storm in local mode without storm installed"
After a fresh bootstrap of a stormcrawler project with the mvn archetype command, i tried to run the example with

[code]
194391 [Thread-7-EventThread] INFO  o.a.s.s.o.a.z.ClientCnxn - EventThread shut down
194401 [Thread-7] INFO  o.a.s.d.supervisor - Copying resources at jar:file:/home/suesstnorma1/.m2/repository/org/apache/storm/flux-core/1.0.2/flux-core-1.0.2.jar!/resources to /tmp/bb8f0408-35d

[2017-01-06 12:08] jnioche commented on #403
Hi @normansuesstrunk

This is a known issue, see #324

I will remove the instructions from the README generated by the archetype. You will need to install Storm to run StormCrawler.

Thanks!

[2017-01-06 12:08] #403 closed

[2017-01-06 12:17] normansuesstrunk commented on #403
many thanks. i searched the issue but i missed that one. sorry for that.

[2017-01-06 12:20] jnioche commented on #403
no problem, this is a useful reminder for me to fix the README file! thanks!

[2017-01-06 12:26] normansuesstrunk commented on #324
i can run the Class locally in Eclipse with the following vm arguments:
[code]
This seems to work fine so far.

[2017-01-06 13:34] Laurent-Hervaud commented on #400
I confirm that's all is working (maxdept -1;0;1)
Good job @jnioche !

[2017-01-06 13:56] MyraBaba commented on #401
I can give you to acces to ES head plugin access for your investigation if you want to your private email.

 There is almost 2M url from storm crawler bot fetched and error.

[2017-01-06 14:35] jnioche commented on #401
I could have a quick look. Do you have Kibana installed?
There are many reasons why URLs can get an error status e.g. prevented by robots.txt
Please send to stormcrawler@digitalpebble.com
Thanks

[2017-01-06 14:44] jnioche commented on #401
[code]

the originating page contains
[code]

will have a closer look later

[2017-01-06 15:00] MyraBaba commented on #401
My humble idea is its caused from ‘%’  sign is not encoded …

Browser can resolve it but as you know using java.URL like visiting the Queen at the Buckingham Palace. :)

[2017-01-06 15:35] MyraBaba commented on #399
I will test soonest possible and let you know.

so seed list like this:

http://www.nccv.com , max.depth=3

right ?

[2017-01-06 16:29] MyraBaba commented on #399
I made seed.txt  like   :   http://www.haberturk.com.tr , max_depth = 1

 made

it gaves error:  7871 [FetcherThread] ERROR c.d.s.b.FetcherBolt - Exception while fetching http://www.haberturk.com.tr , max_depth = 1

 obviously i missed something ?

[2017-01-06 16:34] jnioche commented on #399
Check the topology code, unless you specified otherwise, the FileSpout uses com.digitalpebble.stormcrawler.util.StringTabScheme to deserialise from the text file. It expects tabs as separator between the URL and the key values.

[2017-01-06 16:50] MyraBaba commented on #399
Thanks ..

I tested now with the TAB  both 1 depth and 2 depth for http://www.haberturk.com.tr
It  gave REDIRECTION and not followed for both 1 and 2 depth test.

here output
FYI

9849 [Thread-85-spout-executor[36 36]] INFO  c.d.s.e.p.ElasticSearchSpout - ES query returned 0 hits in 358 msec
11423 [FetcherThread] INFO  c.d.s.b.FetcherBolt - [Fetcher #20] Fetched http://www.haberturk.com.tr with st

[2017-01-06 17:51] jnioche commented on #399
Looks like you are not sharding per host or domain. As a result all the spout instances run the same query to ES.

Check your url filters, it could be that you are preventing redirections across domains : _haberturk.com.tr_ is not the same domain as _haberturk.com_

BTW I'll be running a workshop next month in Berlin [https://twitter.com/digitalpebble/status/816398939368919040] and will cover the

[2017-01-06 17:54] MyraBaba commented on #399
I will check and let you know.

I will be travelling also next month may be I can find a window to visit Berlin.

[2017-01-09 08:18] kanwarkakkar opened #404 "AbstractSpout -Fail"
I am using AggregationSpout and sometimes crawler fails for certain domains  and is unpredictable. I am using 50 Fetcher threads and FetcherBolt ( Instead of SimpleFetcherBolt)
Here is the log
[code]

[2017-01-09 09:56] jnioche commented on #404
Hi. What the logs mean is that you are getting timeouts for these URLs. Storm has a timeout threshold after which the fail method of the spout is called on the corresponding tuples e.g. so that they can be replayed.
There is nothing wrong with the spout itself. What the logs also indicate is that all the URLs that are being pulled from the status index are already being processed. This confirms th

[2017-01-09 09:56] #404 closed

[2017-01-09 10:02] jnioche commented on #402
You could extend [MetadataTransfer](https://github.com/DigitalPebble/storm-crawler/blob/master/core/src/main/java/com/digitalpebble/stormcrawler/util/MetadataTransfer.java) for that. There would probably be subtleties to add, like checking whether the target URL correspond to the root of the hostname. It depends on the particular logic of your crawl. Don't think this should be part of the core cod

[2017-01-09 10:02] #402 closed

[2017-01-09 10:20] kanwarkakkar commented on #404
Thanks for the comments, will look into the problem.

[2017-01-09 11:08] jnioche commented on #401
See [https://en.wikipedia.org/wiki/Percent-encoding#Non-standard_implementations]

In your case the character ğ is represented with in the `%u011f` sequence by the server, which is non-standard way of encoding. The correct representation should be '%C4%9F`.

I'll fix this shortly.

[2017-01-09 12:27] jnioche commented on #401
Fixed in [master d79a076] URLNormalizer : Decode non-standard percent encoding prior to re-encoding

Thanks @MyraBaba for reporting this, could you please give it a try? BTW make sure your topology contains the BasicURLNormalizer.

[2017-01-09 12:27] #401 closed

[2017-01-09 16:57] MyraBaba commented on #401
I will give a try soon .. We have now -27 Celsius degree here..  :))

not much time recent days. Feeding almost 100+ animals living in the nature . Mostly carrying warm food to them..

I will also few question and confusing point . I will also address them which I believe usefull for others also.

thx

[2017-01-09 17:00] jnioche commented on #401
I am intrigued :-)

please use stackoverflow with the tag 'stormcrawler' for general questions

Thanks

[2017-01-09 19:33] MyraBaba commented on #399
I tested for max_depth=1 and max_depth=0  for different domain

:

http://www.hurriyet.com.tr/deniz-baykal-halkin-haberi-yok-40331335	max_depth=1
http://www.haberturk.com/gundem/haber/1346487-omer-halisdemirin-babasindan-fethi-sekinin-ailesine-ziyaret	max_depth=0

:

You know the elasticsearch adress login information.  When I checked the status=FETCHED  it looks very hight to me..

max_depth = 1

[2017-01-10 11:07] jnioche commented on #399
not clear what your question is + you would learn a bit about StormCrawler and Elasticsearch by investigating things by yourself.

why are you putting an _ and not a . for the metadata name?

[2017-01-10 13:29] Laurent-Hervaud opened #405 "org.apache.http.NoHttpResponseException: The target server failed to respond"
I have a lot of FETCH_ERROR (about ten percent on one million french url).
On debug i can see this error : org.apache.http.NoHttpResponseException: The target server failed to respond
Sometimes, it's working after many retries ?
Here some of the url :
http://www.serigraph-herault.fr/
http://www.courtage-mayenne.fr/
http://www.alur-diagnostics-sete.fr/
Is there something wrong with HttpProtocol.jav

[2017-01-10 14:08] jnioche commented on #405
Could it be that you are at the limits of your bandwidth? How many fetch threads are you using?

[2017-01-10 14:30] MyraBaba commented on #399
Sorry it is my mistake. All is fine now.

[2017-01-10 15:23] Laurent-Hervaud commented on #405
I was thinking that first, but i have the same error with just 1 url in the seed list

[2017-01-10 15:34] jnioche commented on #405
The 3 sites you mentioned earlier all point to the same server (193.252.138.58). Could it be that you got blacklisted by them?

[2017-01-11 07:46] Laurent-Hervaud commented on #405
I know for the same server. It's the first web hosting company in France for professionnal.
I try multiple test in local and on aws for blacklist. All is working with a simple curl. I also try with Nutch and it's working. I also try multiple user agent.

[2017-01-11 11:31] jnioche commented on #405
I can't reproduce the issue.

[code]

[2017-01-11 13:09] jnioche commented on #386
@sebastian-nagel please see #406

Thanks!

[2017-01-11 13:53] Laurent-Hervaud commented on #405
I found the mistake in HttpProtocol.java by enabling AutomaticRetries :
        builder = HttpClients.custom().setUserAgent(userAgent)
                .setConnectionManager(CONNECTION_MANAGER)
                .setConnectionManagerShared(true).disableRedirectHandling();
        //.disableAutomaticRetries();

Here the result log :
12932 [Thread-48-fetch-executor[14 14]] INFO  o.a.h.i.e.RetryExec - I

[2017-01-11 14:13] rkrombho commented on #144
Maybe [Geb](http://www.gebish.org/)?

It's very easy to use and based on Selenium WebDriver which means it supports all browser that have a Driver implementation.
It would mean that users could theoretically decide if they want to do headless (e.g. HtmlUnitDriver, PhantomJSDriver), go with a real browser or to use Selenium Grid with a variety of different browsers.

I did some very intensive integ